[2021-02-08 13:30] marcelstoer opened #1 "Invalid language switching links on ultrabug.github.io"
On https://ultrabug.github.io/mkdocs-static-i18n/ the language switching links at the bottom of the start page are broken.

"Get to the FR version" points to https://ultrabug.github.io/fr when it should point to https://ultrabug.github.io/mkdocs-static-i18n/fr/ instead. Same issue for EN and DEFAULT.

[2021-02-08 13:47] #1 closed

[2021-02-08 13:47] ultrabug commented on #1
Thanks a lot @marcelstoer ! indeed the relative path of gh-pages tricked my local tests :+1:

[2021-02-09 05:07] zimocode opened #2 "When set use_directory_urls: false , it confused"
set use_directory_urls: false in mkdocs.yml
[code]

create test.en.md, test.fr.md:
[code]
then
[code]

just test these urls:

|||
|-|-|
|http://127.0.0.1:8000/test.en.html    |ok|
|http://127.0.0.1:8000/test.fr.html      |err|
|http://127.0.0.1:8000/test.html         |err|
|-|-|
|http://127.0.0.1:8000/en/test.html        | err|
|http://127.0.0.1:8000/en/test.en.html    |ok|
|http://127.0.0.1:8000/

[2021-02-09 08:11] ultrabug commented on #2
Hi @zimocode, thanks for your interest in this plugin

That's an option I didn't think about indeed. It should not be too hard to fix, I'll have a look :)

[2021-02-09 08:29] ultrabug commented on #2
@zimocode just to be sure, your table shows the current results of the pages but I want to acknowledge that what you expect is :

|||
|-|-|
|http://127.0.0.1:8000/test.en.html    |err|
|http://127.0.0.1:8000/test.fr.html      |err|
|http://127.0.0.1:8000/test.html         |ok|
|-|-|
|http://127.0.0.1:8000/en/test.html        |ok|
|http://127.0.0.1:8000/en/test.en.html    |err|
|http://127.0.0.1:80

[2021-02-09 12:45] #2 closed

[2021-02-09 12:46] ultrabug commented on #2
Ok I looked into it and thanks to your insights I believe to have addressed the issue.

I created a test suite to validate the structure to prevent any regression in the future. Thanks again mate!

Available on 0.3 ;)

[2021-02-09 16:23] zimocode commented on #2
wating for the pip update.
thanks.

[2021-02-12 09:06] zimocode opened #4 "click the homepage (on logo), dosen't localtion"
for now, it switch to  http://127.0.0.1:8000

in my opinion, it should switch to http://127.0.0.1:8000/en/ or http://127.0.0.1:8000/fr/

[2021-02-12 09:06] zimocode commented on #2
It works
thanks.

[2021-02-12 17:40] ultrabug commented on #4
Hi @zimocode

As far as I know, this link is part of the `theme`; not the documentation content which this plugin is responsible for I'm afraid

To override this, one would need to set up an overriding partial on their own documentation structure

Would you be interested that I provide partials examples to achieve that maybe?

[2021-02-13 07:54] ultrabug commented on #4
After thinking about it more I think I'm wrong and it can be done at build time since this link is derived from the `site_url` parameter

Now just a question to you: how would one get back to the non localized version of the website ? there will be no button any more for this.

That being said, I guess the expected behavior is indeed to link to the localized version home when browsing localized...

[2021-02-15 08:24] #4 closed

[2021-02-15 11:16] ultrabug commented on #4
Thanks again @zimocode this is available on 0.4

[2021-02-17 07:47] zimocode commented on #4
Hi,

I'm just test the new version (v0.4), but it don't works .

maybe , you didn't get what i express?

[2021-02-17 07:50] zimocode opened #5 "shouldn't generate the default language folder"

[2021-02-17 08:00] zimocode commented on #5
if the .yml like this:

[code]
the default language folder `http://127.0.0.1:8000/en` is unnecessary just the `fr` is ok. OR , give an option ? like:

[code]

maybe, don't set `to languanes` ?

[code]

[2021-02-23 08:32] ultrabug commented on #5
Hi @zimocode

Oh I see, indeed now I understand what you want :+1: I'll add an option okay

You'll have that today

[2021-02-23 18:37] #5 closed

[2021-02-23 18:39] ultrabug commented on #5
@zimocode thanks again. After thinking about it I find it easier just to build the languages listed in the `languages` map..

I have documented and tested the feature. Happy version 0.5 mate !

[2021-02-25 10:59] cacrespo opened #7 "test example doesn't work locally in Windows"
Hi! I copied all of files and then executed mkdocs build && mkdocs serve... everything OK. (I did it on Windows)
Then when I go to some pages the browser can't find them. There are some screenshots.
![image](https://user-images.githubusercontent.com/10950697/109142883-29544b80-773e-11eb-842f-f39be71d2723.png)
![image](https://user-images.githubusercontent.com/10950697/109142970-425cfc80-773e-11eb-

[2021-02-25 11:05] ultrabug commented on #7
hi @cacrespo

I'm confused because I can't reproduce this locally:

[code]

Can you run `mkdocs build` and paste the `tree` of the `site` folder generated?

Here is mine:

[code]

[2021-02-25 11:12] cacrespo commented on #7
Sure!

Site
│   404.html
│   index.html
│   sitemap.xml
│   sitemap.xml.gz
│
├───css
│       base.css
│       bootstrap.min.css
│       font-awesome.min.css
│
├───en
│   │   index.html
│   │
│   ├───topic1
│   │   └───index.en
│   │           index.html
│   │
│   └───topic2
│       └───index.en
│               index.html
│
├───fonts
│       fontawesome-webfont.eot
│       fontawesome-webfont.svg
│

[2021-02-25 11:51] ultrabug commented on #7
We can see that we do not generate the same site you and I so I guess you changed something on the `mkdocs.yml` ? care to share it?

[2021-02-25 12:02] cacrespo commented on #7
I didn't change anything, look:
[code]
At night I will test on another PC with Ubuntu...

[2021-02-25 18:46] negice opened #8 "How to style/ relocate"
How would I style or relocate where the translation link is rendered?

[2021-02-25 20:36] ultrabug commented on #7
That's weird indeed... at you tried using the latest git version 0.5 I guess... keep me posted on your Ubuntu findings please

[2021-02-25 20:37] ultrabug commented on #8
Hi @negice

Could you expand a bit on what you have in mind please?

You mean like instead of having `en/` for `en` in languages you'd like to have something else?

[2021-02-25 21:17] negice commented on #8
By default when I use the plugin. It creates a <li>Fr</li> for [example](https://mkdocs-i18n.gitlab.io/mkdocs-i18n/) . I want to be able to style/relocate this link to somewhere else on the page. I am having some difficulty doing that

[2021-02-25 21:32] ultrabug commented on #8
Sorry @negice I think you mistake the `mkdocs-static-i18n` with the `mkdocs-i18n` one.

This is the `mkdocs-static-i18n` github, the one you're talking about is hosted on Gitlab.com so I guess you'd like to head there for your question mate.

Hope this helps.

[2021-02-25 22:46] cacrespo commented on #7
Hi @ultrabug!
I just tested it on Ubuntu and the site is rendered perfectly. Perhaps it is some incompatibility on Windows at the time of generating the strings of paths with the characters "\" ¿?

If you teach me how to test the plugin, I have no problem reviewing it thoroughly or doing the tests you consider necessary.

Thanks in advance!

[2021-02-25 23:25] negice commented on #8
Thanks @ultrabug I did not even realize that I was confusing the two plugins, It was my mistake. Thanks for taking the time to point this out to me and continue the great work.

[2021-02-25 23:25] #8 closed

[2021-02-27 14:43] nzlz opened #9 "nav ordering"
Hello @ultrabug ! First of all, thanks for putting effort here :)

Is there a way to support multi-lang and still keep pages/folders at custom order? I cannot find a combination where this works. Note that i cannot list .md files directly as now i have multiple lang suffixed files (.en.md , .es.md), so standard `nav:` tag ordering wont work as it breaks the non default lang page access.

[2021-02-27 18:35] ultrabug commented on #9
Hi @nzlz thanks for your kind words

The best would be to provide an example of file tree of the current output you have and the one you would expect please?

Also, this plugin is compatible with the mkdocs-awesome-pages-plugin which is smarter for ordering FYI

[2021-02-28 12:33] nzlz commented on #9
I managed to make it work following your working example at https://github.com/ultrabug/ultrabug.fr

there are couple of concerns like the need of setting strict to false, which shows warnings, but not big deal i guess:

[code]

Also, it would be nice if somehow clicking on the other language would send you to the other language alternative page instead of root. But its a minor thing, thanks again

[2021-02-28 12:33] #9 closed

[2021-02-28 17:43] ultrabug commented on #9
Yep, so far based on how mkdocs handles the source path of files to page object mapping I couldn't think of a more intuitive option yet. I think that since I now know that upstream is welcoming I will somehow make time to fix this someday.

You mean on the `theme_overrides` i18n template? If so, let's open another issue because I've had the same feeling but didn't know if I was alone thinking abou

[2021-02-28 17:50] ultrabug commented on #7
Well the generated file structure is actually tested on the project so you need to:
- clone this repo
- setup a virtual environment with python3.6+
- pip install -e .
- pip install -r requirements-qa.txt
- pytest -xs

And you should (when it works) see something like:

[code]

[2021-03-08 01:24] cacrespo commented on #7
Hello! I changed `plugin.py` and the test works fine :) Basically I changed` / `to` \\ `. I can't see how to fix this to run fine on both OS.
This is my code:
[code]

[2021-03-16 11:39] Stanzilla opened #12 "Navigation issues"
So I used the following conf:

[code]

and as expected my EN/default site works the same way as before but switching to French via the language picker dropdown switches the content to the french page.

Now here's the problem, as soon as I'm on the french version of my index, the menu no longer shows.

I'm assuming it is because of the autolinks plugin because I also get a lot of these:

[code]

Wh

[2021-03-31 11:23] magneticcore opened #17 "Incorrect creation of language folder on mkdocs build"
mkdocs: 1.1.2
mkdocs-material: 7.0.7
mkdocs-static-i18n: 0.5
OS: Windows

I just try to build a i18n site with your plugin and the result of the build from docs is quiet strange:

docs:
<pre>
├─ index.fr.md
└─ index.md
mkdocs.yml
</pre>

And the command 'mkdocs build' produces:

site:
<pre>
├─fr
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;├─index.fr
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;├─

[2021-04-01 12:31] magneticcore commented on #17
The mentionned problem is present only if use_directory_urls: true, with use_directory_urls: false, it works correctly

[2021-04-01 12:42] ultrabug commented on #17
hello @magneticcore

I think you run into the same issue as expressed in #7 by @cacrespo, do you confirm?

[2021-04-01 12:58] magneticcore commented on #17
Yes, I confirm that it is the same problem than #7 if use_directory_urls: true
If use_directory_urls: false, another problem happen. I will open an new issue for this, but I believe correlate to #7 .

[2021-04-01 16:09] magneticcore commented on #17
And we agree that the version 0.5 of your plugin doesn't integrate yet a correction for this problem of windows path.

[2021-04-01 17:03] ultrabug commented on #17
Yes indeed, I'm working on a CI + tests + fix mate, I should be able to spare some time on it tonight

[2021-04-06 13:10] #7 closed

[2021-04-06 13:13] ultrabug commented on #17
fixed in #13 and version 0.6, thanks !

[2021-04-06 13:13] #17 closed

[2021-04-06 13:19] ultrabug commented on #12
Sorry @Stanzilla I was fixing another issue on #13 and did not pay attention to your issue.

I'll check it out and answer ASAP now that version 0.6 is out

[2021-04-06 13:30] ultrabug commented on #12
While we're at it, could you check if by any chance the fixes I made on 0.6 are helping for your problem?

I don't know the autolinks plugin. The best to help me debug your problem would be the result of a (trimmed) `tree` of your `site` build and expectation.

The output structures are actually tested on this project so maybe there's a case that my tests did not catch?

[2021-04-06 13:53] Stanzilla commented on #12
https://github.com/midnightprioriem/mkdocs-autolinks-plugin

And I tried 0.6.0, it does show the same results and my layout looks like this:

![image](https://user-images.githubusercontent.com/75278/113721277-ac7aa100-96ef-11eb-9ed3-9f781d033329.png)

which does look correct but the menu in the resulting /fr/ page is wrong since it does not generate the french pages and links to them, example:

![

[2021-04-06 13:54] ultrabug commented on #12
What I can see so far is that if I remove all other plugins and modify your `mkdocs.yml` like this:

[code]

Then build your documentation, I get the correct file structure:

[code]

So there is a plugin that injects / manipulates pages into the navigation and that is ran after the i18n plugin runs and that makes the output different.

[2021-04-06 13:58] ultrabug commented on #12
It looks like the `redirects` plugin is the culprit and messes up with the i18n navigation.

Can you first confirm that if you remove it, you get the correct output structure?

[2021-04-06 13:59] ultrabug commented on #12
You mean you don't get what I do in https://github.com/ultrabug/mkdocs-static-i18n/issues/12#issuecomment-814139787 ?

[2021-04-06 14:05] Stanzilla commented on #12
Disregard that, I was looking at old data.

I removed `redirects` but I'm not seeing a menu without it either.

[2021-04-06 14:18] ultrabug commented on #12
Ok I tried generating the translated structure again and it looks to me to be working as expected.

If I `diff` the base url index.html and the translated resulting index.html I see that the one in the `fr` version is indeed in French, don't you?

[code]

Maybe I'm not looking at the right thing?

[2021-04-06 14:27] Stanzilla commented on #12
Okay here is a deploy preview https://deploy-preview-536--manticore-docs.netlify.app/

Maybe I understood something wrong? What I do is go to the language selector on the site and it switches to the index page in french correctly but then has no menu on the left side.

[2021-04-06 19:34] ultrabug commented on #12
There's something in your build process that generates an anchor to `#about-the-documentation` which gets translated to french and breaks the navigation but I've been unable to understand where so far...

[2021-04-06 20:12] Stanzilla commented on #12
Could it be the TOC?

[2021-04-06 23:25] ultrabug commented on #12
Nah, found that it's caused by `navigation.tracking`.. but it's not the culprit... (tbh I find this option behavior weird because I have a 4K screen so when I get to the home page it "guesses" that I've read everything on the page and forces the anchor to be the last item of the TOC...)

[2021-04-06 23:28] Stanzilla commented on #12
that sounds like a bug though

[2021-04-07 05:08] ultrabug commented on #12
I'm closing in @Stanzilla I can now confirm that we have a bug here too ;)

The problem comes from the fact that your navigation is static and thus pointing to non translated md files which are not present in the language specific copies of the site:

Quick example (ugly) fix:
[code]

[2021-04-07 10:35] ultrabug commented on #12
I think I nailed it @Stanzilla, would it be possible for you to test using https://github.com/ultrabug/mkdocs-static-i18n/pull/18 please?

If that works, I'll add tests and make a new release for you :)

[2021-04-07 18:00] Stanzilla commented on #12
Pushed the change to https://localization--manticore-docs.netlify.app/ and it does indeed look like its working? Wohoo, thank you!

[2021-04-07 19:19] ultrabug commented on #12
That looks wonderful, adding tests now then :)

[2021-04-07 20:04] Stanzilla commented on #12
@ultrabug should I make a follow up issue about more compat with `autolinks` then? It still complains about a lot of relative path problems

[2021-04-07 20:19] Stanzilla opened #19 "Language switch for non dedicated version for the default language build"
Currently when using the mode to not build a dedicated version for the default language, the default language does not show up in the language switcher dropdown which makes it hard to return to it. So I'd suggest adding something to get the default language and then updating the example for it.

Material also now has a native language selector (https://squidfunk.github.io/mkdocs-material/setup/cha

[2021-04-07 20:42] Stanzilla commented on #12
oh and I also noticed that it does not seem to work on a local server with `mkdocs serve` while it is fine with build

[2021-04-07 21:44] #12 closed

[2021-04-07 21:47] ultrabug commented on #12
version 0.7 is out mate

[2021-04-07 21:56] Stanzilla commented on #12
Thank you, updating my branch!

Does it work with my repo or a local test?

[2021-04-07 22:04] Stanzilla opened #20 "Compatibility with `autolinks` plugin"
Plugin: https://github.com/midnightprioriem/mkdocs-autolinks-plugin

I'm testing with version 0.3.0 because the latest release is buggy for me.

So during build it will throw a duplicate file warning for every file that contains a link to a file that now has a multi language version. In my repo for example

[code]

[2021-04-07 22:29] ultrabug commented on #19
I'm not sure why you actually are doing this `{% for lang, display in config.plugins.i18n.config.languages.items() -%}` since it seems like mkdocs-material claims to handle this for you?

Why not go fully with the mkdocs-material language selector?

[2021-04-07 22:30] ultrabug commented on #19
I switched to it, and it works great, no more partials ! https://ultrabug.github.io/mkdocs-static-i18n/

[2021-04-07 22:32] Stanzilla commented on #19
I don't remember actually :D You do have english in there twice now though, as default and english

[2021-04-07 22:33] ultrabug commented on #19
Yep I did it on purpose for the sake of the demo so that people get the idea, since it's static in mkdocs.yml you're free to choose :)

[2021-04-07 22:37] ultrabug commented on #20
I'm not sure messing with the markdown sources is the job of this plugin tbh.

The proper way to handle this is that `.fr.md` files should link to their `.fr.md` counterparts if they exist. Then autolinks will do its own magic without complaning.

[2021-04-07 22:42] Stanzilla commented on #19
One problem I see is that it does not retain the page you are currently on

[2021-04-07 22:44] Stanzilla commented on #20
Hrm but what when they don't exist yet? Or did you suggest that I file that as a request over there?

[2021-04-07 22:48] ultrabug commented on #19
Might be something squidfunk can deal with on mkdocs-material?

TBH, I don't expect people to switch language all the time anyway..

[2021-04-07 22:53] #19 closed

[2021-04-07 22:55] ultrabug commented on #20
As far as I understand this, autolinks is not the one spouting those WARNING messages.

You're seeing this because when `mkdocs-static-i18n` builds a language specific version of your site it only considers and uses the `translated` versions of all pages if they exist (and fallback to their default one if not).

Let's take an example:

[code]

In the markdown of the `getting_started/community_cont

[2021-04-07 22:56] Stanzilla commented on #20
oh it does, thank you! Guess I was kinda expecting some magic happening there that is doing it for me, but I can just change it!

[2021-04-07 23:03] Stanzilla commented on #20
I guess the other part is these

[code]

any idea what triggers those?

[2021-04-08 22:46] ultrabug commented on #20
I guess it's the same problem @Stanzilla ?

[code]

[2021-04-08 23:56] Stanzilla commented on #20
So I guess the problem is that not all pages have a .fr counterpart yet?

[2021-04-09 06:54] ultrabug commented on #20
No, it seems you still have fr pages pointing to non fr pages while those pages do exist.

What's your newest test branch?

[2021-04-09 16:08] Stanzilla commented on #20
It's in dev now, https://github.com/ManticoreGamesInc/platform-documentation/tree/development

[2021-04-12 14:41] ultrabug commented on #20
@Stanzilla the WARNING you experience are there because you have some non translated pages pointing to files that **do** have a translation...

For example :

- `other_platforms/fortnite_creative.md` is not translated in French and contains a link to `getting_started/editor_intro.md`
- but `getting_started/editor_intro.md` has a translation as `getting_started/editor_intro.fr.md`

when the `fr` ve

[2021-04-12 15:42] Stanzilla commented on #20
hrm yeah it does, that means everything should still work then because the "fallback" files that are not translated do exist, yes?

[2021-04-12 16:27] ultrabug commented on #20
No, they do not exist in the language specific context so that means that whenever a page is translated, anything linking to it should be too

[2021-04-13 12:13] Delivator opened #21 "Generate language selector links with use_directory_urls in mind"
We use [use_directory_urls](https://www.mkdocs.org/user-guide/configuration/#use_directory_urls) `true` on our build, because our webserver doesn't use index files, so we need the full file path.

I think the links generated for the language selector should acknowledge that option to generate the links like this when `use_directory_urls` is set to true: `/fr/index.html`, `/de/index.html` etc.

[2021-04-13 22:19] magneticcore commented on #17
I can confirm on my side with Windows operating system that my problem initially described in this topic has been resolved with the last version(s)

[2021-04-13 22:47] magneticcore opened #22 "Possibility to process other files like file.<language>.<extension>"
It would be interesting within the context of your plugin to process not only file.\<language>.md files, but also others whose suffix would be identical in term of naming.

Example:
`versions.fr.json => fr/versions.json`

To authorize this functionality and therefore limit the choice of files according to their extension, a setting could be added:

alternate_files_extension: json, txt, jpeg

If em

[2021-04-14 14:26] ultrabug commented on #21
Thanks for the input @Delivator, that's a very good point!

I have this done locally but want to add tests before releasing it, I'm on it mate

[2021-04-14 16:33] ultrabug commented on #21
@Delivator MR is up, do you have the possibility to test it and validate that it works as expected?

[2021-04-14 17:31] Delivator commented on #21
@ultrabug How can I test this? I only know how to install via PIP.

[2021-04-14 20:34] ultrabug commented on #21
@Delivator don't bother then, with my tests added I'm confident enough; I'm gonna merge and release 0.11 then you can give a final confirmation here plz

[2021-04-14 20:34] #21 closed

[2021-04-14 21:57] ultrabug commented on #22
Hello @magneticcore

That's a very interesting proposal indeed, thanks for taking the time to write it down to improve the plugin :+1:

IMHO I'd rather plural the `extensions` part of the proposed configuration variable name (but I'm not English native so maybe I'm wrong).

[code]

Would that sound good?

[2021-04-14 22:01] ultrabug commented on #20
@Stanzilla do you still want this issue open mate, can I be of help here still? thanks

[2021-04-14 22:06] Stanzilla commented on #20
I think it's fine to close it! Thank you so much for your help!

[2021-04-14 22:06] #20 closed

[2021-04-14 22:06] acDev-User1 commented on #22
alternate_file_extensions in place of alternate_files_extension: yes, definitively.

That sounds very good!

[2021-04-14 22:18] ultrabug commented on #20
Thanks for your positive comments and help in improving the plugin mate

[2021-04-14 22:42] magneticcore commented on #22
alternate_file_extensions in place of alternate_files_extension: Yes, definitively

That sounds very good!

[2021-04-15 11:20] Delivator commented on #21
@ultrabug Hey sorry to bother you. I totally got it wrong.
Mkdocs adds adds the `/index.html` to the links if `use_directory_urls: false` not `true`. ([Docs for reference](https://www.mkdocs.org/user-guide/configuration/#use_directory_urls))

So here we would need to check `if config.get("use_directory_urls") is False:`

https://github.com/ultrabug/mkdocs-static-i18n/blob/3a9efa8c8c68d9626409c99fb

[2021-04-15 14:02] ultrabug commented on #21
No it's me who apologizes @Delivator I saw it during development but I lost it because of the problems I ran into for the tests...

version 0.12 is released to fix that !

PS: like the project? spread the word and give it a :star: if you feel like it <3

[2021-04-15 14:07] Delivator commented on #21
@ultrabug Awesome, thanks a lot!
Yeah it works really well! We should probably add a page to our docs mentioning all the awesome plugins we use :)

[2021-04-20 21:18] zLucPlayZ commented on #22
Would be very helpful. This would also be a solution/opportunity to make it so, you fallback to other file types, if the language specific one doesnt exist.

E.g. I have a "index.html" in my root. It works, but only with the default language selected. Would be nice if it also fallsback to this, whenever there is no language specific "index.html" like "index.de.html" when having another language se

[2021-04-28 09:04] ultrabug commented on #22
I'm sorry @zLucPlayZ I'm not sure I understand what you mean?

FYI @magneticcore I'll get back to this when I'm done on my (big) pull request to add localization support to mkdocs. Thanks for your patience.

[2021-04-28 11:29] zLucPlayZ commented on #22
@ultrabug in a nutshell, will this also bring the fallback support for the defined alternate file extensions? Like its implemented for md files rn?

[2021-04-30 08:39] magneticcore commented on #22
If I understand correctly @zLucPlayZ and there is fr as alternative language.

Example 1: As I requested
[code]

Example 2: As versions.fr.json doesn't exist, but versions.json yes, versions.json is copied in fr folder (like existing md file scenario):
[code]

[2021-04-30 10:01] ultrabug commented on #22
Yes @zLucPlayZ it will behave the same as for the md files (thx @magneticcore)

[2021-05-11 12:00] Caetan95 opened #24 "Possibility of translate section titles"
Thanks for the plugin, great job! I was wondering if it's possible to have somehow a translation of the section titles on the nav (your `Topic 1`,  `Topic 2`) depending on the language, as you can see below:

**English version**
![english](https://user-images.githubusercontent.com/71437950/117809284-4937dd80-b25e-11eb-83d3-51f820cea502.png)

**French version**
![francais](https://user-images.githu

[2021-05-11 17:06] ultrabug commented on #24
Hi @Caetan95 thanks for your kind words, I'm glad you find this plugin useful :+1:

I guess that what you are asking for is feasible but I'd like to hear about how you would imagine this feature should be presented/being made available to users?

[2021-05-14 13:43] Delivator opened #25 "Build failing with lt (lithuanian) language"
Building mkdocs fails [after adding Lithuanian files](https://github.com/skynet-guide/skynet-guide.github.io/pull/42) and I don't know why.

For debugging I copied the working English file `docs/index.md` to ``docs/index.lt.md`` to rule out formatting errors, but I still get the same error, so I assume its a bug specifically with lt files.

Error message:
[code]

[2021-05-15 17:15] ultrabug commented on #25
@Delivator hi, this breaks because mkdocs-material does not support the `lt` locale : https://github.com/squidfunk/mkdocs-material/tree/master/material/partials/languages

What should we expect here that mkdocs-static-i18n do in your opinion?

[2021-05-15 17:27] ultrabug commented on #25
The best we could do IMHO would be to inspect the mkdocs-material package and check if the requested language partial file is present, if not fallback to english and issue a warning log instead of breaking the build

What do you think?

[2021-05-15 17:32] ultrabug commented on #24
I will work on #22 and give your point a thought

We have been discussing a possible merge with @sim6 of mkdocs-i18n and I proposed to incorporate his features in this plugin so maybe this could be added too and fit your needs as well at the same time.

[2021-05-15 17:49] Delivator commented on #25
Yeah we figured you that the error occurs because `mkdocs-material` doesn't have a Lithuanian language.

I think a fallback to English if the specified language doesn't exist sounds good!

[2021-05-15 18:52] Caetan95 commented on #24
Thank you so much for your work! I think it can end up being a very complete plugin

[2021-05-18 20:12] ultrabug commented on #22
Implemented in #26, test & report appreciated <3

[2021-05-19 07:09] mic4ael commented on #24
Hey @ultrabug thanks for all of this. I would like to know one thing though. Are you planning to implement something similar to the first point @Caetan95 suggested or we should rather wait for the possible merge of the two plugins? I am wondering whether we should implement something quick for now and wait for a more complete solution or we can just wait until you soon perform the merge.

[2021-05-19 07:14] ultrabug commented on #24
@mic4ael hi

You mean moving to a file structure or to a nav translation config? I believe more in the nav translation config than requiring users to change all their docs structure so I'd rather implement a new config for this.

[2021-05-19 07:19] mic4ael commented on #24
Hi! I meant supporting the suggested file structure (of course with a few limitations) just as a quick workaround. However, this might indeed cause some problems in the future once nav translation config is supported. Maybe we could try implementing something akin to the `translate_nav` and contribute it to the project?

[2021-05-19 07:29] ultrabug commented on #24
Yes @mic4ael ofc contributions are welcome!

For now I'd like #26 to get in before adding a new option.

[2021-05-19 13:44] ultrabug commented on #25
@Delivator okay, then once I get feedback and merge #26 I will make that happen too

[2021-05-21 10:19] ultrabug commented on #25
@Delivator the fix is ready for when #22 will be approved

See https://github.com/ultrabug/mkdocs-static-i18n/pull/27

[code]

[2021-05-21 11:32] Delivator commented on #25
Awesome! 🙌

[2021-05-24 08:09] #22 closed

[2021-05-24 08:09] #25 closed

[2021-05-24 08:14] ultrabug commented on #25
version 0.13 is there mate

[2021-05-24 08:14] ultrabug commented on #22
version 0.13 is there mates

[2021-05-24 08:19] ultrabug commented on #24
@Caetan95 @mic4ael hi, quick heads-up to tell you that #26 is in and version 0.13 released

This issue is next then :+1:

[2021-05-24 11:22] ultrabug commented on #24
@Caetan95 @mic4ael could you please check and try #28 please?

It was easier to implement than expected, hope you like it

[2021-05-24 11:23] mic4ael commented on #24
Thanks a lot @ultrabug ! That is awesome :D I will give it a try tomorrow and will let you know the outcome ;)

[2021-05-24 22:38] magneticcore commented on #22
Very good, thank you!

[2021-05-25 03:16] luolingchun opened #29 "[BUG] Windows install UnicodeDecodeError"
`pip install mkdocs-static-i18n`
in Windows10，output follow errors:
[code]

Just add `encoding` to read_text(), like this:
[code]

[2021-05-25 08:30] magneticcore commented on #24
What is the command pip to take this commited code?

[2021-05-25 11:23] ultrabug commented on #24
@magneticcore you have to
- uninstall mkdocs-static-i18n from your virtualenv
- clone this repo
- checkout the issue_24 branch
- pip install -e .

and test :)

[2021-05-25 13:58] ultrabug commented on #29
Thanks for your report @luolingchun

cc @cacrespo did you ever encounter this?

[2021-05-26 18:39] #24 closed

[2021-05-26 18:41] #29 closed

[2021-05-26 18:42] ultrabug commented on #29
Thanks @luolingchun this is part of version 0.14

[2021-05-26 18:43] ultrabug commented on #29
Consider spreading :heart: and :star: the project if you like it mate!

[2021-05-26 21:20] cacrespo commented on #29
Hi @ultrabug!!
I just installed it in a virtual environment and had no problem...
Although now that I see: it is version 0.14 and it should be fixed 😆

[2021-06-02 12:38] Caetan95 opened #30 "Wrong redirection due to / missing for non index.md files"
Hello. @mic4ael and I found a problem using nginx for serving the static files. The navigation items are created without the leading slash, which creates a redirect that in some cases might be problematic. For example, we end up on `http://localhost/topic1/` instead of `http://localhost:8080/topic1/`.

![image](https://user-images.githubusercontent.com/71437950/120475590-d5df4280-c3a9-11eb-8618-1f

[2021-06-02 12:45] mic4ael commented on #30
I just wanted to mention that this can be easily fixed with proper nginx configuration. However, looking at the URLs that plain `mkdocs` generates I would say that making sure that all URLs have leading slash would make this plugin a bit more consistent with the core.

[2021-06-04 10:44] Caetan95 opened #31 "Search plugin just works for the default language"
Hello again. Sorry for the inconvenience, but we found another problem in the plugin, now is the integration with the [search plugin](https://squidfunk.github.io/mkdocs-material/setup/setting-up-site-search/). The thing is that the search function only works with the default language, so when we are in a different language it searches only in the default language, ignoring the other languages. I t

[2021-06-04 13:46] ultrabug commented on #31
@Caetan95 hi; sure it should not be a problem if you can provide me with an example and what you expect from it?

[2021-06-04 13:56] ultrabug commented on #30
Thanks for reporting, I'm in a road trip right now and will be able to check this properly next Tuesday

mic4ael is right, we should be consistent with the core which means that I'm missing some structure tests that should catch this first, then I'll fix it!

Please bear with me

[2021-06-04 13:59] mic4ael commented on #30
No problem, take your time :D

[2021-06-04 14:13] Caetan95 commented on #31
Thanks for your quick reply @ultrabug we really appreciate it.

I would expect to search in each language separately, so depending on which language I am, it will search into it.

Currently, the behavior is that it always searches in the default language (in your example, in English), and if I change to français it will continue searching in the English version. In addition, if I search for some F

[2021-06-08 01:06] Stanzilla opened #32 "[Feature Request] Add killswitch to disable based on env"
mkdocs 1.2 is out now and has support for `ENV` checks in configs, this would allow me to get rid of having to use two different `mkdocs.yml` but `mkdocs-static-i18n` does not have an easy way to disable it.

Would be nice if there was an `enabled: true|false` key I could set.

[2021-06-09 15:00] ultrabug commented on #31
FYI @Caetan95 the way the search plugin is implemented prevents us from having a search index per language.

I'm almost done with this, it works good on mkdocs 1.1.2 but not on 1.2... looking into it now.

[2021-06-09 15:06] Caetan95 commented on #31
Hello @ultrabug, thanks for your commitment. Just FYI, I have been testing the new mkdocs 1.2 release with your plugin and I haven't found any other conflict (apart from those that we have already discuss).

Thanks again for your work :)

[2021-06-09 16:18] Stanzilla commented on #30
I found something similar, on this page, https://docs.coregames.com/fr/ hover over the "Forums" link in the header nav. It shows `https://docs.coregames.com/forums.coregames.com` because in the source it is `href="https:/learn.coregames.com"` notice the missing slash. In my yaml it's properly defined as `- Forums: https://forums.coregames.com`

[2021-06-09 16:46] ultrabug commented on #30
@Stanzilla sorry I don't get it?

@Caetan95 @mic4ael I'm gonna start by writing a test that fails to demonstrate the problem first.

[2021-06-09 16:49] Stanzilla commented on #30
@ultrabug it turns `https://forums.coregames.com` into `https:/forums.coregames.com`

[2021-06-09 17:34] ultrabug commented on #30
@mic4ael @Caetan95 I found the culprit, please review #34 as it contains #33 and must be merged first

[2021-06-09 17:35] ultrabug commented on #30
@Stanzilla please open another issue with more details on how to reproduce this, it does not look related to this issue to me?

or try #34 and see if that helps?

thanks mate

[2021-06-09 19:24] Caetan95 commented on #30
@ultrabug I have tested #34 and I confirm that it's working perfectly, brilliant!

[2021-06-09 21:18] #30 closed

[2021-06-09 21:24] ultrabug commented on #32
I'm sorry but disable what exactly? I don't understand what that switch you're talking about is supposed to do?

Can you give me more details? I'll happily help as usual :)

[2021-06-09 21:25] #31 closed

[2021-06-09 21:27] ultrabug commented on #30
version 0.15 is out mates, thanks!

[2021-06-09 21:27] Stanzilla commented on #32
The whole plugin basically.

My goal here is to only run the multi-site generation on the production and test environments but not during local testing since it increases the build times a lot.

[code]

As an example, I could now set the `MKDOCS_I18N` env variable to true/false.

[2021-06-09 21:27] ultrabug commented on #31
version 0.15 is out mate, thanks!

[2021-06-10 12:36] adamkusmirek opened #35 "[Bug] Fonts are not being loaded"
After adding this plugin all requests to the `fonts/` folder result in a 404.

I am using the `readthedocs` theme and mkdocs 1.2.1

After inspecting the generated `style.css`, I noticed that all font paths are relative and of the form: `.../fonts/<fontfile>`, maybe resolving this is a problem?

[2021-06-10 15:06] ultrabug commented on #35
Hi @adamkusmirek thanks for your report.

Strange that the live local server did not catch it, could you detail how to reproduce this please?

[2021-06-10 17:49] adamkusmirek commented on #35
I just tried incrementally adding all the components to a clean mkdocs project with `mkdocs-static-i18n` and the culprit apprently is `readthedocs`

Since you nowhere specified that this theme is supported I guess this "bug" is more an incompatibility.
Sorry about bothering you.

Maybe I'll manage to make `readthedocs` work anyways with your plugin, in which case I'll let you know so you can maybe

[2021-06-10 19:42] ultrabug commented on #35
Very interesting finding, we shall add some tests that reproduce the problem before and demonstrate that the fix is good and will not happen again too please!

[2021-06-10 19:55] adamkusmirek commented on #35
Agreed, I'll add some tests later. The PR is in draft state until then..

[2021-06-12 14:27] hbjydev opened #37 "Support for 5-character ISO codes"
Currently, languages like traditional Chinese (`zh`) are working fine.
But other languages, like simplified Chinese (`zh_CN`) and simplified Chinese for Taiwan (`zh_TW`), etc. just break the system.

[code]

[2021-06-12 22:59] Stanzilla commented on #32
Or maybe even switches for every language?

[code]

so if a language key has `false` at a value, it does not get considered during compilation.

[2021-06-13 19:55] ultrabug commented on #32
oh! I see.

It looks to me that your use case was one of the things behind https://github.com/mkdocs/mkdocs/issues/2218

Did you consider using configuration inheritance coupled with ENV vars to achieve what you're looking for?

[2021-06-13 19:57] Stanzilla commented on #32
@ultrabug yeah I wanted to avoid using inheritance and just use the ENVs. But I can try it if you don't think the switches are in scope for your plugin!

[2021-06-13 20:03] ultrabug commented on #32
I kind of dislike options with different meanings / behaviors so if we were to move on this, I'd make a separate option tbh

[2021-06-13 20:08] Stanzilla commented on #32
So the global disable?

[2021-06-13 20:11] ultrabug commented on #37
@hbjydev hello

Indeed, I applied this rule when I was contributing localization support to mkdocs themes and we decided to support longer country codes in the end but I did not apply it here.

My only concern is that this plugin automatically configures the search plugin and mkdocs-material languages but they do not support all the lang combinations... For instance, mkdocs-material only supports

[2021-06-13 20:43] hbjydev commented on #37
Yeah, the languages in question don't have too much content for now, and if I need to look into contributing to the upstream projects to fix that, that's completely fine by me :)

[2021-06-13 21:10] ultrabug commented on #37
Ok I will make that happen then mate, stay tuned

[2021-06-13 21:15] ultrabug commented on #32
Yeah on principle, but I'd like to find another way tbh, I don't like the idea of plugins having to have this kind of option and recent 1.2 features look to provide that possibility

[2021-06-13 21:18] Stanzilla commented on #32
I wanted to avoid having two config files and with the 1.2 feature it looks like I would still have to have two? Also it needs the disable option as well? I might have read https://github.com/mkdocs/mkdocs/issues/2218#issuecomment-743312764 wrong though.

[2021-06-13 22:26] hbjydev commented on #37
Awesome, thanks! :)

[2021-06-14 09:02] ultrabug commented on #32
I just tried and could achieve what I believe you're looking for after [reading this comment](https://github.com/mkdocs/mkdocs/issues/2218#issuecomment-843488261)

It works good by adding a file to define plugins per environment, you still have only one `mkdocs.yml` file so you do not need to adjust your automation.

in `mkdocs.yml` you replace the whole `plugins:` definition by an INHERIT:

[code

[2021-06-14 09:05] Stanzilla commented on #32
Hrm no, not at all because that is one file more than I have now. Currently I just have two configs that I use based on the environment and call with `--config-file`

[2021-06-14 09:31] ultrabug commented on #32
But you have to duplicate the whole thing with your current implementation whereas my proposal allows you to focus on the specifics of a given environment. And most importantly here, you'd only have ONE mkdocs.yml to work with.

That being said, for the sake of simplicity and because you're the first stargazer of this projet ( :wink: ) I will implement a `enabled` option which defaults to true and

[2021-06-14 09:33] Stanzilla commented on #32
I mean yeah that is indeed true. And aww okay, thank you!

[2021-06-14 10:04] ultrabug commented on #32
@Stanzilla I still think that the plugin should sort the files and fix the navs to avoid warnings all over the place when disabled? that way only the actual build of the languages would be disabled but not the rest.

This means that you would only build the default language of the site, not the rest.

or do you expect the whole plugin to be skipped?

[2021-06-14 10:10] Stanzilla commented on #32
from a UX standpoint, I think disabled should mean completely disabled...but you do have a point, hrm.

[2021-06-14 10:10] ultrabug commented on #32
^ this would also allow developers to change the `default_language` as they wish (even with ENV!) and only (re)build for that

- **default_language_only** (default: false): allows to only build the default language, skipping the configured languages (useful for development when rebuilding all the languages is slow)

something like this

[2021-06-14 10:12] Stanzilla commented on #32
oh that does sound nice indeed!

[2021-06-14 13:47] ultrabug commented on #32
plz check #38

[2021-06-14 14:23] Stanzilla opened #39 "[Bug] html `lang` attribute not changing on language switch"
Example page: https://docs.coregames.com/

Steps:
- Go to above website, inspect and check HTML's `lang` tag value. It should be `en`.
- Use the language switcher and switch to Francais (Beta). `lang` stays at `en`.

Config:

[code]

It works on https://ultrabug.github.io/mkdocs-static-i18n/ so I'm suspecting some config.

[2021-06-14 14:33] ultrabug commented on #37
[code]

Okay, you would get that kind of output, I'm almost done

[2021-06-14 15:42] #32 closed

[2021-06-14 16:39] ultrabug commented on #39
[code]

I can't reproduce on your `development` branch

[2021-06-14 17:02] Stanzilla commented on #39
@ultrabug Uh, really? With the current state?

[2021-06-14 17:21] ultrabug commented on #39
yep, latest development commit

[2021-06-14 17:23] Stanzilla commented on #39
oh that is not latest but that at least gives me a place to start bisecting.

https://github.com/ManticoreGamesInc/platform-documentation/compare/ab913dfed544265d4f4e44d2dc9b6d1974a8c19d..development

Latest is https://github.com/ManticoreGamesInc/platform-documentation/commit/0e27cfaa45972176c3815f9e970cf75b2b0c3793

[2021-06-14 17:34] Stanzilla commented on #39
Now I'm extra confused because I can't repro it on that commit either.. Hrm.

[2021-06-14 19:22] #37 closed

[2021-06-14 19:33] ultrabug commented on #37
available in version 0.16 mate, enjoy :star:

[2021-06-14 19:33] ultrabug commented on #32
available in version 0.16 mate, enjoy :star:

[2021-06-14 20:15] Stanzilla commented on #35
I can repro this as well, if you go to https://docs.coregames.com/tutorials/curves/#interpolation-type and click on the image to open the lightbox, the buttons (fonts) in the top right are missing.

[2021-06-15 19:44] Stanzilla commented on #39
@ultrabug any hints on where I could start looking?

[2021-06-15 19:56] ultrabug commented on #39
You mean you can reproduce? did you recreate your venv? tbh I don't really know where to start because I was under the impression that I was doing the right thing and that it works as intended on the demo website...

[2021-06-15 19:59] Stanzilla commented on #39
Since it does not work in my env and not on Netlify either, I assume it's something else. What I meant is that I can not get it to work on the commit you tried or on the latest.

[2021-06-16 16:21] Stanzilla commented on #39
Yeah does not work with a fresh venv either...I don't get it at all. Tried with default material theme, tried with i18n as the only plugin..

[2021-06-16 20:04] Stanzilla commented on #39
@ultrabug Can you try on the latest commit again please? I tested on 3 systems now and it does not work anywhere :(

[2021-06-18 16:19] ultrabug commented on #35
Fixed thanks to you!

[2021-06-18 16:19] #35 closed

[2021-06-18 16:25] ultrabug commented on #35
version 0.17 is out !

[2021-06-18 16:30] ultrabug commented on #39
ok I'll give it a try again

[code]

brand new venv, with requirements.txt installed

running with `DEFAULT_LANGUAGE_ONLY=false mkdocs serve`

[2021-06-18 16:34] adamkusmirek commented on #35
yay, just updated my project and things seem to work!

[2021-06-18 17:39] Stanzilla commented on #39
And it works?

[2021-06-18 17:56] ultrabug commented on #39
No... I can reproduce the problem now, I'll have a look

[2021-06-18 18:00] Stanzilla commented on #39
Oh my god, that makes me so happy, haha. I was going crazy here.

[2021-06-18 18:08] ultrabug commented on #39
Ok I found why, this is because your `theme.name` is `null` and you derive material from a git submodule

This means that mkdocs-static-i18n cannot detect the material theme and thus does not set the theme.language for you (and you explicitly force the theme.language to be `en`)

[2021-06-18 18:10] Stanzilla commented on #39
Oh that makes sense. I had actually tried not setting `theme.language` but that causes material to fail compiling as well...

[2021-06-18 18:24] ultrabug commented on #39
It does because you use it through a custom_dir and the material code can't find the language file since it's not a proper material distribution. In a sense, it suffers from the same problem as mkdocs-static-i18n.

If you use theme.name: material you can omit the language parameter just fine!

I suggest you just pin your material version and use overrides where appropriate mate.

As it is, this is

[2021-06-18 18:27] Stanzilla commented on #39
@ultrabug problem with that is that it is a very very customized fork that not only uses overrides...

[2021-06-18 18:30] ultrabug commented on #39
I understand mate.

Maybe there's another way to get the name of the theme that's being used instead of just reading the one declared from the config file when it's set to null

I'll give it a try and try to be smart, stay tuned (after dinner) :)

[2021-06-18 19:50] Stanzilla commented on #39
@ultrabug awesome, thank you. how about the `generator` meta tag?

[2021-06-18 19:51] ultrabug commented on #39
@Stanzilla dumb question but...

[code]

isn't that supposed to work? quick look at mkdocs code and it looks like it should....

[2021-06-18 20:01] ultrabug commented on #39
I'd rather not start parsing HTML nope

But I believe that you actually don't need to set theme.name to null and still benefit from your customization

[2021-06-18 20:16] Stanzilla commented on #39
yep. you are are totally right and that fixed it! Thank you so much!

[2021-06-18 20:16] ultrabug commented on #39
ahah, best fix is no fix ;) enjoy mate, closing

[2021-06-18 20:16] #39 closed

[2021-07-14 15:21] Stanzilla opened #43 "Bug with external links in tabs navigation"
Hello, it's me again! 👋

So on this example page: https://docs.coregames.com/fr/api/key_bindings/

If you look at the link "Core Academy" you can see that is missing a slash after the `https`

`<a href="https:/learn.coregames.com" class="md-tabs__link"> Core Academy </a>` same with other external links.

They are specified in the yaml as follows:

[code]

The links are fine on the non-/fr/ version

[2021-07-16 07:00] ultrabug commented on #43
Hi @Stanzilla :)

Indeed I can reproduce the problem (yay!) and I think I know why this happens.. let me get a :coffee: and fix that mate

[2021-07-16 08:04] inouthack opened #44 "adapting the custom language switcher example to mkdocs-theme-bootstrap4"
is mkdocs-static-i18n compatible with [mkdocs-theme-bootsrap4](https://github.com/LukeCarrier/mkdocs-theme-bootstrap4) ?

i'm trying to adapt the *custom language switcher* example that you describe and i can't get it to work. Any pointers ?

[2021-07-16 08:59] #43 closed

[2021-07-16 09:01] ultrabug commented on #43
version 0.18 is out with the fix mate, thanks for reporting!

[2021-07-16 09:28] Stanzilla commented on #43
Can confirm that this is now fixed, thank you as always, you rock!

[2021-07-16 10:19] ultrabug commented on #44
hi @inouthack

mkdocs-static-i18n is independent of themes so yes it is compatible with them all since it just offers variables that you can use to modify any jinja macro / template

I've never checked that theme and you're not providing any code / sample so it's hard to point you somewhere. The example I provide tho does work, I guess you tried it on the basic mkdocs theme first?

[2021-07-16 11:05] inouthack opened #45 "localized build logic for index.md in the context of referenced image or media files"
index.md file is the first file that is served from any website (as index.html) and usually references multiple media files (images etc).

[code]

in the example above, is one expected to make copy of visual.png and chart.png for every locale supported so that the 'index.html' page is rendered correctly ?

[2021-07-17 19:54] Andre601 opened #46 "Would appreciate help with this plugin"
When creating the following structure:
[code]
and I want to link from `index.<lang>.md` to `api/index.<lang>.md` could I just do `[link](/api/index.md)` and the plugin would adjust the link to point to the right file of the same language, or would I need to directly reference the file (`api/index.en.md`)?

[2021-07-18 11:35] inouthack commented on #46
(i'm not the author) on reading the documentation it gives the impression that this controlled by the mkdocs.yml configuration

[code]
in short, "plugin would adjust the link to point to the right file of the same language".

[2021-07-20 07:32] ultrabug commented on #46
Hi @Andre601

Yes exactly, you can reference any page or asset without their .<lang>.<extension> to ease your development

This is demonstrated in the demo website [and explained here](https://github.com/ultrabug/mkdocs-static-i18n#referencing-localized-content-in-your-markdown-pages)

Hope this helps :)

[2021-07-26 15:17] ultrabug commented on #46
@Andre601 is that alright with you? Do you need anything else?

If not, I'll close this issue in 1 day

[2021-07-26 15:25] Andre601 commented on #46
It's good. Thanks for the info.

[2021-07-26 15:25] #46 closed

[2021-07-28 11:16] ultrabug commented on #45
Sorry @inouthack , I let this issue slip. The answer is no unless you add pure HTML in your code. Automatic markdown reference localization only works in ... markdown

Does that answer your question?

[2021-07-28 22:53] Stanzilla opened #47 "Sitemap support"
So mkdocs does generate a sitemap.xml for all pages but currently the extra language pages generated by this plugin do not get added to it, it seems.

[code]

This example Is probably what it should do, not sure if plugins can even change the sitemap generation though.

[2021-08-09 01:53] Stanzilla opened #48 "File resolution confusion on same name but different extension"
Hey there! I ran into a weird but (again) and I think I got it pinned down to me using the same filename but different extension in the same folder. Without the plugin, the images and videos load fine, with the plugin, the images do not load and are actually 404.

Example code:

[code]

Log:

[code]

Maybe it's also the inline HTML at fault, as in #45

[2021-08-19 07:45] ultrabug commented on #47
Hi @Stanzilla

I have no clue about how it's generated, I'll have a look when I can

[2021-08-23 10:29] Kanaduchi opened #49 "Switching between template files inside custom_dir for different languages"
I have a case when in custom_dir of mkdocs theme I have some overrides of template html files (main.html, home.html):
[code]

Is it possible to add possibility of switching between template files inside this dir for different languages?

Content of custom_dir folder:
- overrides/
  |_ main.html
  |_ main.fr.html

[2021-08-23 17:29] Kanaduchi opened #50 "Displayable name for default language"
Currently if we specify config like
[code]
then nf the language selector we will see two items: fr and English

My suggestion is to add new variable `default_language_label: French` for displayable label in the selector for default language

As I got it right the fix is quite simple:
1. Introduce new variable in the config scheme
[code]
2. Read it in the creation of language list
[code]

[2021-08-24 17:04] ultrabug commented on #48
Hi @Stanzilla

Could you share the tree view of the given folder? I'm not sure I understand yet.

[2021-08-24 17:05] Stanzilla commented on #48
That would be:

- img/TerrainReference/ViewMode.png
- img/TerrainReference/ViewMode.mp4

[2021-08-24 17:06] ultrabug commented on #49
Hi @Kanaduchi

That's a good question indeed. I never checked about where those files are taken into account.

I'll have a look and see what's doable.

[2021-08-24 17:24] ultrabug commented on #49
As I suspected the `custom_dir` parameters is injected to Jinja's environment from the theme loading logic, which means that babel's translation logic should be used to localize theme related texts.

As for now, this plugin only focused on localizing the **pages** content of your site, not the theme itself.

We worked on documenting how theme developers can localize their theme here : https://www.

[2021-08-24 17:31] ultrabug commented on #50
@Kanaduchi or you could set the `extra.alternate` config by hand like this

[code]

I'm unsure adding a specific config for a edge case is worth it?

[2021-08-24 17:37] ultrabug commented on #48
Ok now I understand and can reproduce the problem :+1:

Did I already tell you that you're an excellent bug finder? :grin:

[2021-08-24 17:58] ultrabug commented on #48
@Stanzilla please can you check that #51 is the fix we're looking for? cheers

[2021-08-24 18:01] Stanzilla commented on #48
Hah thanks, will do in a bit!

[2021-08-25 04:03] skullydazed opened #52 "[Enhancement Request] Language switcher that stays on the current page"
Currently when you configure the language switcher it always takes you back to the root of the site. It would be a lot nicer if it took you to the same page in that language.

For a concrete example, say you are on this page:

https://ultrabug.github.io/mkdocs-static-i18n/topic1/named_file/

When you change the language to French you are taken to this page:

https://ultrabug.github.io/mkdocs-stati

[2021-08-25 12:28] Kanaduchi commented on #50
@ultrabug This is for case If we do not wish to build a dedicated <language>/ path for the default_language version of documentation.
In this case in the language list we will see "fr"

[2021-08-25 15:10] ultrabug commented on #47
Okay I think I found how to do it :+1:

Please test #54 , it contains #48 as well

Once validated by you, I'll merge everything ;)

Cheers

[2021-08-27 10:31] Kanaduchi opened #56 "Error during deploying of site with plugin"
I have a problem to deploy site with this plugin into github pages.

You can find trace here: https://github.com/Kanaduchi/vwcoding/runs/3442091472?check_suite_focus=true

I use latest version of mkdocs-material and your plugin:
[code]

[2021-08-28 16:04] Kanaduchi commented on #56
Looks like this error appears when I use your plugin together with https://github.com/zhaoterryy/mkdocs-pdf-export-plugin.

How can I fix this problem? I want to use both of these plugins

[2021-08-29 19:33] ultrabug commented on #56
The error appends on the `on_config` hook and [as you can see here](https://github.com/zhaoterryy/mkdocs-pdf-export-plugin/blob/master/mkdocs_pdf_export_plugin/plugin.py#L29) the **mkdocs-pdf-export-plugin** does not return a `config` object on this hook as [it is supposed to](https://www.mkdocs.org/dev-guide/plugins/#on_config).

So I advise you to request this to be fixed on the **mkdocs-pdf-exp

[2021-08-31 03:52] skullydazed opened #57 "[feedback] Large site friction"
I don't know how much of this will be actionable, but I'm in the middle of converting a largish site over to mkdocs right now and trying to come up with a workable i18n/l10n story. I gave mkdocs-static-i18n a good try but in the end it's not a fit for us.

## Background

I'm attempting to migrate <https://docs.qmk.fm/> from docsify to a static site generator. The current docsify structure looks so

[2021-08-31 04:55] Kanaduchi commented on #56
Thank you for research!
We fixed mkdocs-pdf-export-plugin (https://github.com/zhaoterryy/mkdocs-pdf-export-plugin/pull/101/commits/707f71b0bc38c387481674ef0a66e60d7429d5bd) and added return statement. But error is still there
https://github.com/Kanaduchi/vwcoding/runs/3469133569?check_suite_focus=true

I wonder why all other plugins work as expected together with mkdocs-pdf-export-plugin

[2021-08-31 08:01] ultrabug commented on #57
Hi @skullydazed

First of all I want to thank you for trying out mkdocs-static-i18n and thank you even more for taking on your time to write this detailed feedback, that's very kind of you and much appreciated!

Indeed this plugin is quite young and started out as a way to address a need that was hanging for years in the mkdocs community so it's not a one-solution-fits-all kind of plugin.

That be

[2021-08-31 10:50] ultrabug commented on #52
I reworked it a bit again, my local test on your `platform-documentation` works good now @Stanzilla ; can you give it another try?

[2021-08-31 11:06] ultrabug commented on #56
Not all plugins do manipulate configuration objects etc... depending on what needs to be done, this can have side effects such as this.

For the record, I'm not happy to have to use `deepcopy` because this is making mkdocs-static-i18n slow.

Indeed, this means that the pdf plugin does inject or store some kind of unhashable object somewhere... which makes it impossible to deepcopy...

When inspect

[2021-08-31 11:15] ultrabug commented on #56
Got it, indeed the `renderer` object stores a `theme` attribute which is loaded from `_load_theme_handler` and [returns a Python module (which is not hashable)](https://github.com/zhaoterryy/mkdocs-pdf-export-plugin/blob/master/mkdocs_pdf_export_plugin/renderer.py#L81)

So, my first intuition would be to make the pdf plugin lazy load that module instead of having it there

My second thought would

[2021-08-31 11:56] lasat opened #58 "[Enhancement request] Listing of missing translated resources (page/images)"
It would be helpfully if a log (INFO) could be written for each time a link/image reference fallback to the default language version of the image/page.

Example:
* default language: en
* current language: fr
* page contain link to: page1.md
* page1.fr.md doesn't exists -> INFO log is written
* same for images which not exists in the current language

Why would this be helpfully? See the progress o

[2021-08-31 12:54] ultrabug commented on #56
[This is the fix you're looking for](https://github.com/zhaoterryy/mkdocs-pdf-export-plugin/pull/102) :star_struck:

[2021-08-31 14:11] Kanaduchi commented on #56
@ultrabug Thank you! I've pinged Terry to review and merge changes.

[2021-08-31 15:32] skullydazed commented on #57
Our choice is not final yet, but even if it was I'd be open to replacing a collection of hacks and workarounds with a better solution. :slightly_smiling_face: We just completed a breaking change cycle, which means I have 1-2 months to finish sorting our migration out before I need to get it merged into the develop branch.

I'll let you take the lead on where you want to go with this. The qmk_mkdoc

[2021-08-31 16:21] Stanzilla commented on #52
https://612e4d8fda61db30d1063593--manticore-docs.netlify.app/

[2021-08-31 16:24] ultrabug commented on #52
Thanks, that looks good to me, does it to you?

[2021-08-31 16:31] Stanzilla commented on #52
I was going to reply "no" because the initial change does not work but everything else aftwards does!

Steps:

- https://612e4d8fda61db30d1063593--manticore-docs.netlify.app/
- Click "Install Core"
- Switch to French
--> Page is not retained

Everything else afterwards works though.

[2021-08-31 16:33] ultrabug commented on #52
Navigating in developer mode and killing the cache fixes the problem. I think you experience this because you use `navigation.instant`

[2021-08-31 16:42] Stanzilla commented on #52
Oh yeah, I do use that. So would mkdocs-material need to add something to support this feature with instant mode?

[2021-08-31 17:03] ultrabug commented on #52
@squidfunk would you have an opinion on this please? you can have a peek at the link @Stanzilla provided above

[2021-08-31 17:27] ultrabug commented on #58
Hi @lasat ; thanks for your feedback!

I'm unsure all users would be happy to see their logs spammed at the INFO level for missing translation pages so I'm pondering between a config option to enable this kind of tracing or to simply output this on the DEBUG level.

Would you have an opinion?

Also, friendly ping to @Stanzilla and @skullydazed if you may share your opinion here too (tell me to sto

[2021-08-31 17:28] ultrabug commented on #47
@Stanzilla since you asked on matrix, what is your opinion on this topic please?

[2021-08-31 17:34] Stanzilla commented on #47
So for me this needs to have some kind of support in mkdocs itself, as in, changing to the template to make it i18n "aware", but I'm also not an expert on the matter :/

[2021-08-31 17:42] Stanzilla commented on #58
Hrm yeah, I think I would want that to be opt-in.

[2021-08-31 17:49] Stanzilla commented on #57
## Build Speed

I think build speed is definitely an issue and valid concern. @ultrabug did a lot of perf improvements and it already is way better than it was before but I still disable multi lang builds for the local developer environment. I control this via the `mkdocs.yml` config file like so: `default_language_only: !ENV [DEFAULT_LANGUAGE_ONLY, true]`.

So only people who work on the non-defa

[2021-08-31 18:01] skullydazed commented on #58
I can see the value in it, but definitely want to suppress those for production builds.

[2021-08-31 18:06] skullydazed commented on #57
1. Speed- Not a must have, but important still. I saw that there was work in the main mkdocs repo around partital builds or on-demand builds which might help a lot with that.
2. Navigation translation- Blocker. Defining a nav tree for each language would be ideal. Tying the translated title to the filename is workable. There may be other solutions to this we haven't identified yet.
3. Pages that d

[2021-08-31 20:33] squidfunk commented on #52
@ultrabug I have only briefly checked @Stanzilla's solution, but this feature is already on Material for MkDocs' [roadmap](https://squidfunk.github.io/mkdocs-material/insiders/#8000-scotch-bonnet) as "stay on page when switching languages". This means that I'll revisit this functionality at some point in the future. Note that I haven't used this plugin, yet, but my current educated guess is that a

[2021-09-01 07:16] lasat commented on #58
I'm happy with DEBUG if the log is prefixed by a filterable value -> for reporting and counting.

[2021-09-06 21:30] Stanzilla commented on #52
Not sure if related, but navigation.instant also causes a bug where the html's `lang` attribute will sometimes not change back when you switch from a non-default to the default lang.

[2021-09-07 06:20] squidfunk commented on #52
Instant loading doesn't replace the whole HTML but only [specific sections](https://github.com/squidfunk/mkdocs-material/blob/a633f12e096f7a64185630b8b68e52e0479b274a/src/assets/javascripts/integrations/instant/index.ts#L275-L286), so it's no real surprise that the HTML attribute is not replaced. If you wish to replace other parts, you can use code similar to the one I just linked, but beware that

[2021-09-07 13:42] ultrabug commented on #52
In my experience, having a low barrier entry that can match 80%+ of needs is fine. Not everyone scale their documentation at a point where they need to follow a whole guide to handle all their localized versions.

The good thing for the mkdocs community is that both solutions exist, and that's what matters most imho.

[2021-09-07 13:44] #52 closed

[2021-09-07 14:24] ultrabug commented on #57
3. Pages that don't exist in the primary language- Must have. As I think about this the standout use case is when reorganizing docs sometimes we need to rename or break-up pages, and it's not always possible to do that work in one PR across all languages.

@skullydazed I believe that #59 fixes that blocker. would you give it a try please?

[2021-09-07 15:30] ultrabug commented on #58
Ok, I have #59 to be merged first

[2021-10-06 11:15] jorol opened #60 ""Select Language" does not work with version 0.20"
With upgrade to version 0.20 my "Select Language" switcher is broken: it links to "index.html/index.html" or "de/index.html/index.html". Works fine with version 0.19.

[code]
My mkdocs module versions:

Name: mkdocs
Version: 1.2.2
Name: mkdocs-static-i18n
Version: 0.20
Name: mkdocs-material
Version: 7.3.1
Name: mkdocs-localsearch
Version: 0.9.1

Thanks for your work!

[2021-10-06 16:05] ultrabug commented on #60
Hi @jorol is there a public repo I can use to reproduce the problem?

[2021-10-06 19:30] #60 closed, assigned to nobody

[2021-10-07 10:17] jorol commented on #60
@ultrabug Thanks for the hint and bugfix!

[2021-10-11 10:46] PsychoBitchy opened #61 "Build bug on default language when default lang url is inside a subdirectory."
Hello.
This applies to MkDocs-material.
I don't really know if it's a bug or a plugin use that is out of specs.
Commit: https://github.com/ultrabug/mkdocs-static-i18n/commit/9694c6a07eab24e4b584ddd6a2aa7fae006dcf95
Release 0.20 introduced a much anticipated feature: page context locale switching without going back to the home.
However, if MkDocs is hosted inside a subfolder AND your default locale

[2021-10-11 15:24] #61 closed, assigned to nobody

[2021-10-12 01:25] jrappen commented on #5
This solution creates an issue where:

When following the instructions at <https://github.com/ultrabug/mkdocs-static-i18n#not-building-a-dedicated-version-for-the-default-language>, this leaves us **without** the possibility of giving `default_language` a custom label.

Or in other words, we cannot label the usual `en` selection with `English` appropriately.

[2021-10-12 01:54] jrappen opened #62 "switching languages regularly does not work as expected"
Given the config:

[code]

and the structure:

[code]

when switching from English (`en`) to German (`de`) while on `other-page`, this plugin messes up the target destination.

Most of the time it correctly takes me to the target destionation: `https://user.github.io/repo/de/other-page/`, but quite regularly it takes me to:

* either `https://user.github.io/repo/other-page/de/`
* or `https://user.

[2021-10-20 12:40] sirchampsblanc opened #63 "Second language structure different than default one"
Spanish version has index.html inside README/ but english version doesn't (english version works and spanish version doesn't). Rendered doc shows a 404 error when changing to spanish.

[code]

This is the docs folder, README.md and README.es.md at the same level.

![Screenshot from 2021-10-20 14-38-00](https://user-images.githubusercontent.com/61840925/138094174-b59b65c7-8b3d-4c53-8a8e-91f9c135dc0

[2021-10-25 06:46] roddc opened #64 "Trying to serve the site with nginx"
I tried to use nginx to serve the static files,  the parent index.html displayed correctly. However, when I navigated to sub-directory, the browser get the wrong assets path, and I got this error in console `Uncaught SyntaxError: Unexpected token '<'`.

For example: The site displayed correctly when I navigated to `http://localhost:8081/guides/zh/,` but not  `http://localhost:8081/guides/zh/sub/`;

[2021-10-26 03:27] #64 closed, assigned to nobody

[2021-11-02 23:43] jrappen commented on #62
@ultrabug any updates?

[2021-11-03 15:38] phasel74 opened #65 "nav_translations do not work with awesome-pages"
The `mkdocs.yml`
[code]

with `index.md`
[code]

and `index.de.md`
[code]
gives the German website

![grafik](https://user-images.githubusercontent.com/48174934/140091752-727fc2c5-5fa9-442e-b01d-f7050c1dd20d.png)

When I remove awesome-pages I get the expected website

![grafik](https://user-images.githubusercontent.com/48174934/140092149-498c2311-6622-4dbc-b649-8656dea08a28.png)

Is this an issue

[2021-11-05 19:25] ultrabug commented on #62
sorry @jrappen it seems I missed your issue and I'm currently in vacation, will look at it next week I promise

Any public repo I can clone to reproduce the problem easily maybe?

[2021-11-05 20:33] jrappen commented on #62
Sure, I made a small test website at <https://jrappen.github.io/recipes>

[2021-11-05 22:21] jrappen opened #66 "Navbar tab labels not being translated"
Given the config:

[code]

labels in the navigation (bar) tabs at the top are not being translated.

<img width="656" alt="image" src="https://user-images.githubusercontent.com/8577450/140584468-7be3a613-dd13-4870-a991-5d35e70f38f1.png">

[2021-11-08 13:54] ultrabug commented on #62
@jrappen alright I found the culprit to be the `navigation.instant` feature!

This feature uses AJAX calls which messes up with the language switcher in the background and does not respect the alternate configuration set on build.

I will update mkdocs-static-i18n to issue a WARNING log when this feature is enabled and disable the automatic alternate configuration on mkdocs-static-i18n since there

[2021-11-08 14:21] ultrabug commented on #62
[code]

[2021-11-08 14:34] ultrabug commented on #62
^ I will merge PR #67 soon, check and fix some other outstanding issues and make a new release

Meanwhile, you know the fix mate ;)

[2021-11-08 14:44] ultrabug commented on #63
@sirchampsblanc do you have a public repository I can test this from maybe?

[2021-11-08 17:31] ultrabug commented on #63
np mate, I found the problem, I'll be writing tests to demonstrate the error and validate the fix, then I'll put up a PR and tag you there!

Fix incoming! happy vacation mate ;)

[2021-11-08 17:44] ultrabug commented on #63
Please check #68 and test it if you can? this should fix this issue

[2021-11-08 18:15] jrappen commented on #62
thanks, appreciate it

[2021-11-08 21:27] #62 closed

[2021-11-08 21:33] ultrabug commented on #66
Ok this one is easier, you just forgot the language key under `nav_translations`. This is necessary to be able to add translation for every supported language (may be more than one)

You can fix this like this:

[code]

[2021-11-08 21:35] jrappen commented on #66
@ultrabug sorry for wasting your time

[2021-11-08 21:35] #66 closed

[2021-11-08 21:46] ultrabug commented on #66
No worries @jrappen , I added a INFO log to make this more clear when building thanks to you!

[2021-11-08 21:51] ultrabug commented on #65
Hi @phasel74 ; when building the site, you should see a log like this:

[code]

which means that the mkdocs-static-i18n plugin has done its job. But then I guess that the awesome-pages plugin comes into play and somehow overrides the work done by i18n...

[2021-11-08 21:54] ultrabug commented on #56
closing, it's in

[2021-11-08 21:54] #56 closed

[2021-11-08 21:55] ultrabug commented on #49
Closing, since theme should be done elsewhere as explained

[2021-11-08 21:55] #49 closed

[2021-11-09 12:44] ultrabug commented on #65
[code]

An informative message will now tell you about this, thanks for reporting!

[2021-11-09 12:55] ultrabug commented on #61
Thank you mate, I added a INFO log for this to help future users

[2021-11-10 15:55] sirchampsblanc commented on #63
It did fix the issue. Thanks!

[2021-11-10 17:19] #63 closed

[2021-11-10 17:22] ultrabug commented on #63
version 0.22 is out

[2021-11-10 17:23] jrappen commented on #62
@ultrabug thanks

[2021-11-17 16:16] Andre601 opened #69 "Option to set folders for specific translations"
While I do like the `<filename>.<language>.md` syntax is it rather annoying if you want to keep the different translations separated from each other.
Because of this would I like to ask, if there is a way to actually define a folder to utilize for the language, instead of relying on the file name pattern.

As an example, I want this `docs/` structure:
[code]
to be like this instead:
[code]
While t

[2021-11-18 20:27] scmcca commented on #65
I'm dealing with the same issue. Are there any work arounds or planned updates to fix this?

[2021-11-19 09:04] ultrabug commented on #65
Well as usual in this sort of inter compatibility problem @scmcca there are two sides on the same problem and while this issue has been reported here, maybe it should have been reporter on the mkdocs-awesome-pages-plugin.

From my understanding, the i18n plugin here modifies the files structure directly while the awesome-pages one recreates it to form a custom Navigation object in its internals wh

[2021-11-19 11:52] jrappen commented on #62
@ultrabug I do have a follow up question. Do you have plans to support `mkdocs-material`'s `navigation.instant` some time in the future?

[2021-11-19 12:51] ultrabug commented on #62
It's just impossible from the plugin perspective since the plugin builds a static site. The navigation.instant feature relies on JavaScript which is executed on the running site (not at build time), so there's nothing the plugin can do.

Friendly ping to @squidfunk maybe Martin could have an idea about this, he's the expert there.

[2021-11-19 13:31] squidfunk commented on #62
Instant loading is actually pretty simple – is an URL is contained in `sitemap.xml`, instant loading kicks in. Nothing more.

[2021-11-19 15:47] scmcca opened #70 "Compatibility with native nav configuration in mkdocs.yml"
Hi there 👋

I've been looking at different translation methods where I can achieve:
- (i) navigation title translations
- (ii) custom ordering of pages in nav, and
- (iii) preserve URL schemes to match my file directory (i.e., `../folder-name/` and not `../Folder%20Name/` if configured otherwise).

As awesome-pages is [non-compatible](https://github.com/ultrabug/mkdocs-static-i18n#compatibility-wi

[2021-11-19 19:29] lukasgeiter commented on #65
I'm pretty sure I know what's happening. Here are the relevant details from the inner workings of both plugins:

### i18n

The i18n plugin triggers the `nav` event a second time in it's `on_post_build` method:

https://github.com/ultrabug/mkdocs-static-i18n/blob/d4362481f8cbea055597c230e02b95d45c5cbff3/mkdocs_static_i18n/plugin.py#L658-L661

However, during this second run the plugin also skips tr

[2021-11-21 13:16] ultrabug commented on #65
Thanks for your time and analysis @lukasgeiter ; this gives me hope that we can find a solution.

I'm not so sure yet since the i18n plugin has to trigger a build for every language version, each of the versions having their own files & navigation... I will consider and try to create those earlier instead.

The irony is that I did add the on_nav for compatibility with your plugin :D

Do you actual

[2021-11-21 13:56] ultrabug commented on #65
Quick follow-up so far, I tried:

- not calling `on_nav` a second time, no effect
- awesome-pages before or after i18n has no effect either
- building `nav` directly on `on_nav` and not calling on_nav, no effect

I'll spend an hour more on this tonight if I can, so far, none of the above ideas work.

[2021-11-21 17:22] ultrabug commented on #70
As I might have found a fix for #65, could you please try #71 instead?

[2021-11-21 17:28] ultrabug commented on #69
Hello @Andre601

This sure can be considered since I believe this is [point 4 of @skullydazed wish list here too](https://github.com/ultrabug/mkdocs-static-i18n/issues/57#issuecomment-909470889)

To make this work, we would need to create a new option to the plugin to switch between "structures" I guess.. I believe this would also remove some of the magic of the plugin.

With this directory tree i

[2021-11-21 17:34] Andre601 commented on #69
I think having it default to the folder of the default lang could be a good aproach.
Alternatively could we perhaps consider using a general directory? Like a `docs/assets/` directory the plugin would default to.

[2021-11-23 10:14] dingyifei commented on #69
I'm looking for a solution like this what this issue described as well! A project I'm working on has a similar language folder structure. A workaround I'm considering is to add a pre-mkdocs script that moves everything in the language folders into the  *.lang.md format.

[2021-11-29 15:36] scmcca commented on #70
FWIW: Would it make more sense to push for compatibility with the native nav configuration in an mkdocs.yml file vs pushing for compatibility with a separate third-party plugin?

While I don't have a strong opinion as long as the solution presented works, I find the approach I outlined here much more intuitive for organizing explicit directories and translating titles.

That being said, I would he

[2021-11-30 07:13] Brunner246 opened #72 "Language link"
Hello

How can I hide/remove the link to the other language on the page?
![image](https://user-images.githubusercontent.com/71121348/144001675-7c59e838-feb0-456a-a8e1-5c47f64caab9.png)

Also, despite the language selection, the folder with the "German-language" content is displayed. Although there is no file for French.

![image](https://user-images.githubusercontent.com/71121348/144002108-fe49b9e

[2021-11-30 07:30] Brunner246 commented on #72
I cleaned up my venv.. now its working as expected.

[2021-11-30 07:30] #72 closed

[2021-12-02 21:17] ultrabug commented on #69
Checking in to say that I'm not forgetting this request; I'm almost done in refactoring an important part of the plugin code.

Once it's out, I'll look into this

[2021-12-02 22:03] ultrabug commented on #65
@lukasgeiter I just went back to check on this issue and I can say that since your 2.6.1 fix, the translation works as expected and our plugins are fully compatible ;)

[2021-12-02 22:11] lukasgeiter commented on #65
@ultrabug I believe that's only true if the `nav` option in `mkdocs.yml` doesn't contain any `...` entries.

[2021-12-02 22:12] ultrabug commented on #65
ok @lukasgeiter let me check that then

[2021-12-02 22:20] ultrabug commented on #65
@lukasgeiter

[code]

  works as intended

![2021-12-02-231952_630x224_scrot](https://user-images.githubusercontent.com/474389/144512448-f2b62e32-4aa1-4c0a-a583-05b8cfbdbd04.png)

[2021-12-03 07:19] lukasgeiter commented on #65
@ultrabug Yes, but what if you put the same thing in `mkdocs.yml`?

[2021-12-04 17:50] AngryMane commented on #57
As I mentioned at #74, I measured the time it takes to build with this plugin by cProfile and vmprof.
- target project
    [mkdocs-test-sample.zip](https://github.com/ultrabug/mkdocs-static-i18n/files/7654351/mkdocs-test-sample.zip)
- log(cProfile)
    [cProfile_without_patch.LOG](https://github.com/ultrabug/mkdocs-static-i18n/files/7654345/cProfile_without_patch.LOG)
    You can refer by pstats c

[2021-12-09 06:17] alexvoss opened #75 "Feature request: export current language"
Hi,

I am writing a macro using mkdocs-macros-plugin that is to include content depending on the language chosen but I could not find a way to identify the language outside your plugin. Is there a chance you could export it? Would be a two-liner to add an instance variable or just a couple more to add a getter.

Thanks for a all the great work on the plugin, it works a treat!

Cheers,

Alex

[2021-12-09 21:25] alexvoss commented on #75
Sorry, can we add the default language as well? When I request env.conf['plugins']['i18n'] in my macro, I get the I18n plugin object and not the content of mkdocs.yml

[2021-12-22 13:20] alexvoss commented on #75
Hi @ultrabug,

if you let me know that I am not holding the wrong end of the stick, I could submit a pull request.

Cheers,

Alex

[2021-12-23 18:24] scmcca opened #77 "Languages are unordered on drop-down"
Language options do not render in the same order defined in configuration. The default language always appears first, followed by the rest of my languages unordered. For example, my configuration looks like this:
[code]

And the render is unordered on every serve (results of 2 different serves below):
<img width="132" alt="Screen Shot 2021-12-01 at 9 42 20 AM" src="https://user-images.githubuserco

[2021-12-26 14:04] ultrabug commented on #65
hi, #78 will be merged and makes sure that :

- awesome-pages is always called first on events
- on_nav is not called recursively on all plugins for each language, so it is only called once from now on

[2021-12-26 14:13] ultrabug commented on #65
looks like it behaves badly, even with #78 which I don't really understand why... I don't see why awesome-pages behaves differently between a .pages or the mkdocs.yml nav tbh

[2021-12-26 14:30] ultrabug commented on #77
hello @scmcca ; you're right this is a good catch!

it's my fault because I use a set() to store the available languages, it's not yaml's fault :)

I'm fixing it

[2021-12-26 14:39] #77 closed

[2021-12-26 14:41] lukasgeiter commented on #65
@ultrabug Because `mkdocs.yml` cannot contain things that MkDocs doesn't support (like `...` entries). As a workaround, the plugin removes `nav` from the config object as described in [this comment](https://github.com/ultrabug/mkdocs-static-i18n/issues/65#issuecomment-974352259).

[2021-12-26 14:46] ultrabug commented on #75
Hello @alexvoss ; yes I guess this is absolutely doable

I guess you'd like to get it on the page context right ? Injecting stuff in env looks fine

If you're up for it, even better! thanks

[2021-12-26 14:47] ultrabug commented on #65
@lukasgeiter I got that yes, I just don't see how I can make something more on my side I'm sorry

[2021-12-26 15:00] lukasgeiter commented on #65
@ultrabug Me neither, unfortunately.

[2021-12-26 15:15] ultrabug commented on #58
@lasat I've added a log for when a **documentation page** is missing a translation

Inspecting the markdown source is not good since we allow for links to not be localized, so instead I'm looking for the documentation pages.

I hope that's enough and helpful mate

[2021-12-26 15:16] #58 closed

[2021-12-26 15:17] ultrabug commented on #65
I'll close here then, I believe we've done better than we hoped for already

This will be released with 0.30 FYI @phasel74

[2021-12-26 15:17] #65 closed

[2021-12-26 15:26] #75 closed

[2021-12-26 15:27] ultrabug commented on #75
I added `i18n_config` and `i18n_page_locale`, hope this is useful enough mate

[2021-12-26 15:27] ultrabug commented on #69
Quick heads up, I'm gonna release 0.30 with a lot of enhancements

I will (re)start working on this after

[2021-12-27 11:58] alexvoss commented on #75
Hi, I can see you added these but not sure there they can be picked up on my side? Ideally, I would be able to see the variables in  `env.variables` in my mkdocs-macro. I tried to figure out just what the 'context' object is but no joy. Where does `on_page_context` even get called from and where does the `context` come from and go to? Sorry, the documentation is somewhat thin on this and I cannot

[2021-12-28 21:48] ultrabug commented on #75
@alexvoss I have released 0.31 with some added variables, fixed logic and a better documentation on how to use it : https://github.com/ultrabug/mkdocs-static-i18n#using-i18n-context-variables-in-your-pages

[2021-12-29 10:45] alexvoss commented on #75
Thanks for this. I can see that it is possible to use the variables in a template. Unfortunately, my use case requires their use from [mkdocs-macros](https://mkdocs-macros-plugin.readthedocs.io/en/latest/) and I cannot figure out how to access the same variables from my macros in the page content. They are undefined while the same variables are defined when the template processing happens.

If thi

[2021-12-29 12:15] ultrabug commented on #75
Well @alexvoss you can access them through the `page` variable which is [included by mkdocs macros](https://mkdocs-macros-plugin.readthedocs.io/en/latest/pages/#batteries-included-defaut-objects)

`page.file.locale_suffix` for instance is the same as `page_file_locale` in the jinja2 context. Everything part of the I18nFile object will be accessible through `page.file.xxx`, [the attributes of file

[2021-12-29 14:23] alexvoss commented on #75
Yes, that does help! Thanks a lot. Here is what I ended up with:

[code]
Does this look sensible to you?

I do wonder why I did not find `page.file`. It does not seem to be listed in the [description of the page object](https://www.mkdocs.org/dev-guide/themes/#page) - unless I am missing something. I'll double check and submit a bug report with MkDocs if it looks like I am right.

[2021-12-29 17:22] ultrabug commented on #75
I guess so, if it works for you :+1:

There's a difference between the macro plugin and mkdocs Jinja2 template rendering

[2022-01-19 09:55] brospars opened #79 "Filenames containing dots not working"
For this given `docs` structure and this config
[code]

[code]
I always get the english version :

http://127.0.0.1:8000/Topic1/1.1.exemple.html => english (not ok)
http://127.0.0.1:8000/fr/Topic1/1.1.exemple.html => english (not ok)
http://127.0.0.1:8000/en/Topic1/1.1.exemple.html => english (ok)

[2022-01-19 13:16] brospars opened #80 "Translate site_name"
Is there a way to translate the `site_name` parameter ?

A plugin parameter could be great :

[code]

[2022-01-21 02:37] Stanzilla opened #83 "Relative path warnings"
Hey there! Ever since I updated to the latest version (I might have skipped one), I've been getting a lot of relative path warnings again for a lot of files that are actually there.

I can repro this on two systems, mac and Linux, with this repo https://github.com/ManticoreGamesInc/platform-documentation

[2022-01-25 14:41] brospars commented on #5
Hello @jrappen Did you find a workaround ?

[2022-01-25 16:42] jrappen commented on #5
@brospars You cannot. The default language has a different path, compare (for example):

- `./`
- `./en/`
- `./fr/`

and from my testing in October does not copy the settings from its subdir counterpart.

[2022-01-26 08:47] jrappen commented on #5
@brospars Your approach doesn't set a `default_language`.

[2022-01-26 09:00] jrappen commented on #62
@ultrabug Have you decided on whether or not you'll implement this based on the feedback provided by Martin?

[2022-01-26 13:20] ultrabug commented on #83
Is that still on the development branch that it should be tested?

[2022-01-26 13:25] Stanzilla commented on #83
Yep!

[2022-01-26 13:36] ultrabug commented on #83
Darn, you've been busy guys, it's a hell to pull :)

[2022-01-26 14:43] ultrabug commented on #83
please review & test https://github.com/ultrabug/mkdocs-static-i18n/pull/85

thanks!

[2022-01-26 14:47] Stanzilla commented on #83
That looks good! Only thing I'm not too sure about (which is not new though) is that it displays the missing pages warning twice, even with default_language_only enabled:

[code]

[2022-01-27 10:33] #83 closed

[2022-01-27 10:34] ultrabug commented on #83
Those missing pages info are because we generate a nav for every language, can't do any other way sorry

[2022-01-27 11:09] Stanzilla commented on #83
Alright, thank you!

[2022-01-27 19:54] ultrabug commented on #5
@jrappen since this has been asked for multiple times I guess I'm being stubborn on this one and should offer an option to tackle this.

There are two ways we could make this happen:

1. add a `default_language_alternate_name` option
2. introduce a `build_language_paths` option which would be a list of the locales we want a /version for; allowing users to keep on having the `languages` option set

[2022-01-27 19:59] ultrabug commented on #62
@jrappen well I'm not sure I can do something here since `sitemap.xml` is embedded by mkdocs.

We discussed about the best way to support localized versions of pages in sitemap in https://github.com/ultrabug/mkdocs-static-i18n/issues/47 but that's something that looks very time consuming to achieve...

[2022-01-27 20:07] Andre601 commented on #5
not really interested tbh

[2022-01-27 20:53] Stanzilla commented on #5
I don't think I quite understand what the question is

[2022-01-28 12:21] jrappen commented on #62
OK, understood.

[2022-01-28 13:13] ultrabug commented on #5
sorry @Stanzilla ; the question is about having an option to allow users who do not wish to have a /version of their default language to have a way to still set the name they want to display for it on their material language switcher (when using the default generation one, not setting it by hand)

[2022-01-28 14:21] Stanzilla commented on #5
What would it display otherwise? Feels inconsistent if that was different?

[2022-01-28 14:56] ultrabug commented on #5
it would display "en" instead of "English" if using a config like this where I want only /fr and not /en since my default / is en

[code]

[2022-01-28 14:57] #79 closed

[2022-01-31 09:06] brospars commented on #79
Thanks for your fix. Sorry I was unable to fix it myself, I've been quite busy last week.

[2022-01-31 11:02] ultrabug commented on #79
np mate, plz check your other issue/PR; I'd like to have your work merged so that you are credited for it!

[2022-02-02 10:28] #47 closed

[2022-02-02 13:47] ultrabug commented on #5
@jrappen I see you reacted with a confused emoj

I personally like @brospars' idea very much as it could provide a consistent way to add options to each language without adding yet other options...

I would stick with the usual alternate key names (name, link) and we could also extend it to allow users to select if they want to build this language or not as well.

The default version would simply

[2022-02-02 15:14] ehguille commented on #5
HI there,

Have you noticed that if you try to apply the following configuration:

plugins:
  - i18n:
      default_language: en
      languages:
        fr: Français

You don't get the switch when you are on the french version of the page?

[2022-02-02 17:26] ultrabug commented on #5
@ehguille what version of the plugin do you refer to? please open a new issue with details

[2022-02-03 11:08] ehguille commented on #5
My bad, I was using navigation.instant and just checked that is not compatible with this plugin :)

[2022-02-04 10:05] ehguille opened #88 "Navigation links not translated at the bottom of the page"
Sorry If I fail explaining this.

I'm working whith the last version of mkdocs material and also mkdocs static i18n. They work like a charm.

However, with the following configuration:

[code]

I've found that the bottom links are not translated:

![image](https://user-images.githubusercontent.com/55703981/152510239-2cfaf6f2-4b3c-4ada-97e3-e5acbdaed699.png)

While the navbar is:

![image](https://

[2022-02-04 18:00] ultrabug commented on #5
Further discussions please fowarded to https://github.com/ultrabug/mkdocs-static-i18n/pull/89

[2022-02-06 15:00] #80 closed

[2022-02-06 15:20] ultrabug commented on #88
Hi @ehguille do you have an actual repository for me to test this? because I've done a simple test here and it works as expected.

[code]

with

[code]

Bottom links are translated okay

[2022-02-06 17:28] ehguille commented on #88
Thank you, @ultrabug.

I've checked your example and the point is that I had no a `too.en` file. It seems that i18n use the page title for display at the bottom, and I was assuming it took the literal at `nav_translation`.

I guess it should be considered, at most, an improvement. So I close the issue.

Thanks again for your work, hope it keep growing!

[2022-02-06 17:28] #88 closed

[2022-02-06 19:46] ultrabug commented on #88
@ehguille could you please share the exact tree structure you're talking about? I would love to be able to reproduce this and find out if a fix is possible or not.

Thanks

[2022-02-07 13:41] Stanzilla commented on #83
After updating to 0.41, I now get the info print 3 times, is that related to language options changes?

[2022-02-07 14:08] ultrabug commented on #83
Yes, and I see that I missed skipping the `on_nav` for languages with `build: False` so that's my bad, thanks for the hint.

[2022-02-07 14:12] ultrabug commented on #83
https://github.com/ultrabug/mkdocs-static-i18n/commit/b1523f554cfe9adbc5623786a3e4acbb01c9cac8

[2022-02-07 14:18] Stanzilla commented on #83
hah, glad I could help!

[2022-02-07 18:47] ehguille commented on #88
Yes, just sent you an invitation to a test repository.

Thanks again!

[2022-02-07 19:21] ultrabug commented on #88
I am the one thanking you for your kind sponsoring, this means a lot to me :)

I'll look into your test repo, thanks!

[2022-02-07 20:45] ultrabug commented on #88
https://github.com/ultrabug/mkdocs-static-i18n/pull/91

Here we are @ehguille + you have a demo PR on the repository you shared with me :)

Works like a charm here!

[2022-02-08 15:46] ultrabug commented on #69
FYI I started working on it on a branch referenced above.

[2022-02-16 16:45] Stanzilla opened #92 "[Bug] Plugin breaks mkdocs-material tag index generation"
When using mkdocs-material's tags index generation, the `[TAGS]` section is not populated, this is a regression and used to work before.

See https://docs.coregames.com/generated/tags/

mkdocs-material docs: https://squidfunk.github.io/mkdocs-material/setup/setting-up-tags/#adding-a-tags-index

[2022-02-21 14:40] Stanzilla opened #93 "[Feature Request] Add JSON schema"
The mkdocs-material project now has a JSON schema for `mkdocs.yml` files and it's possible to add external references so you can maintain it in your own repo like so https://github.com/squidfunk/mkdocs-material/pull/3571

[2022-02-21 15:36] lasat opened #94 "[BUG] mkdocs minify plugin is broken after upgrade to mkdocs-static-i18n=="0.30""
Today I've tried to upgrade this plugin from "0.20" to the latest version "0.41" but recognize that afterwards the out styling is back to materials standard settings.

I've found that this behavior started with "0.30" and only if we have the minify-plugin=="0.5.0" enabled (page contain links to the not minified version of css/js files).
I've quickly checked the [code changes](https://github.com/ul

[2022-02-22 12:05] Markoschala opened #95 "Gullalletimes"

[2022-02-22 12:05] Markoschala commented on #95
Ok

[2022-02-22 19:55] #95 closed

[2022-02-22 20:08] ultrabug commented on #92
@Stanzilla if I switch to your development branch, install the requirements, build... I get a tags page populated

What should I do to reproduce?

[2022-02-22 20:13] ultrabug commented on #94
@lasat hi, thanks for reporting this.

It's impossible for me to understand exactly your problem without a way to reproduce it. Is there a public repo I could clone? Could you do before/after screenshots or page code differences maybe?

I'll try to spend 15min on it by myself but I'm not sure to know what I'm looking for exactly sorry.

[2022-02-22 20:17] ultrabug commented on #93
@Stanzilla hi

You clearly are ahead of me here. I have no clue what you expect me to do to support this?

Please provide a clear example of what you'd like to be supported mate.

[2022-02-22 20:25] Stanzilla commented on #92
Well that is odd, I can see it working on a deployed production branch, broken on the deployed development branch and broken locally. So the difference has to be some config.

[2022-02-22 20:31] Stanzilla commented on #93
It's a way of documenting the options a plugin provides so the editor can autocomplete/suggest and warn on incorrect ones.

https://guts.github.io/mkdocs-rss-plugin/schema.json is an example of an extension one

[2022-02-25 09:31] lasat commented on #94
Hi @ultrabug, sorry for not  being clear enough and waste your time.

Please see https://github.com/lasat/mkdocs-static-i18n_minify where I demonstrate the problem

[2022-03-02 13:52] sukki37 opened #96 "Support for multi-level nav"
I found that `nav_translations` can only support configuring the top-level nav. I wanna know whether [mkdocs-static-i18n](https://github.com/ultrabug/mkdocs-static-i18n) support to specify multi-language nav in `mkdoc.yml`  like follows:

<img width="373" alt="image" src="https://user-images.githubusercontent.com/77312370/156374567-e58aa312-d8e0-4473-adbe-e8648d27cf62.png">

Thanks.

[2022-03-02 19:24] ultrabug commented on #92
Closing, if you find out please reopen

[2022-03-02 19:24] #92 closed

[2022-03-02 19:33] Stanzilla commented on #92
Looks like it works now anyway, will do so when it breaks again but sounds like it is/was something mit material anyway.

[2022-03-02 20:02] ultrabug commented on #93
Ok I understand @Stanzilla but what's the added value here exactly? I must admit that with my limited time I want to be sure that the time I will spend on this is worth it...

Else, I'm open for a PR of course by anyone interested

[2022-03-02 20:10] ultrabug commented on #96
Hello @sukki37

The translations apply to **ALL** levels because they apply on titles, not on the navigation tree structure.

Easy :)

[2022-03-02 20:13] Stanzilla commented on #93
Basically adding error checking for your plugin options inside of the editor. Should/could result in less people making tickets because they are using the wrong syntax/options for example.

[2022-03-02 20:15] ultrabug commented on #93
Ok but I'm unsure why it's been ported in mkdocs-material and not mkdocs itself then.

I'll leave that open here in case I have some time to spend on this someday.

[2022-03-03 07:10] sukki37 commented on #96
Thank you for the reply. So can I say that only the top folder name can be translated?  How about there are multi-level directories in the `docs` folder, the subdirectory name can be translated as well or not?

[2022-03-03 08:23] ultrabug commented on #96
@sukki37 yes, just add the translations, ignore the "sub"directory structure

[2022-03-03 08:32] #94 closed

[2022-03-03 09:41] ultrabug commented on #94
version 0.44 is out mate, enjoy

[2022-03-14 17:04] sirchampsblanc opened #98 "Problem with search plugin"
Hi, is there a way to disable this default behavior?

Our search index is getting too large (with 2 languages) for our server to handle and we're having some issues.

We thought another way to do it would be to use [mkdocs-exclude-search](https://github.com/chrieke/mkdocs-exclude-search) to exclude es/* files from the index but we can't make it work. I can ask there too if it should be compatible.

[2022-03-14 19:23] ultrabug commented on #98
hello @sirchampsblanc ; so your goal is to have the search index built only for the default language and not for any other language, is that right?

[2022-03-14 19:23] #96 closed

[2022-03-14 20:15] mondeja commented on #98
Hi @ultrabug.

I've faced with a related problem in the development of [mkdocs-mdpo-plugin](https://github.com/mondeja/mkdocs-mdpo-plugin). Seems that an internationalization plugin must be able to split search indexes by language, beyond than only searching across the main language.

It is not a simple problem I guess because some files must be patched depending on the theme. In summary, you need

[2022-03-30 12:16] dtrckd opened #99 "How to use the client local by default"
Hello,

How could we make the client to automatically land into the language defined in its browser local if any ?

Thanks.

[2022-03-31 07:13] ultrabug commented on #99
Hello @dtrckd ;

I'm not sure it's the responsibility of the plugin to be honest. I think it's a theme's feature and that's where this should be asked if you agree.

Thanks

[2022-04-01 07:10] ultrabug commented on #99
I agree with you there of course. But there are so many themes available that adding a frontend implementation on this plugin sounds like an endless path.

Well we at mkdocs concentrate on the engine, not so much on the themes'  features but you could lookup or start a new Discussion on mkdocs or ask mkdocs-material if that's the theme you're using.

[2022-04-04 14:34] sirchampsblanc commented on #98
We've patched it manually but that feature should be useful for us and maybe other projects.

Thanks.

[2022-04-04 14:41] #98 closed

[2022-04-04 16:56] ultrabug commented on #69
Quick heads-up to say that I have not forgotten this, I'm still working on it when I can and I made progress today :)

[2022-04-25 15:32] ultrabug commented on #57
Hi

I believe quite a lot of those features have been done

Now that #69 has also been merged, I find it fair to close this issue

If you feel otherwise, feel free to reopen thanks!

[2022-04-25 15:32] #57 closed

[2022-05-18 09:08] ChrisBlankDe opened #109 "Logo Link to current language"
If we click on the on the logo icon we navigate back to the index page of the **default** language. is there an possibility to go back to the index page of the **current** language?
i think that would provide a better ux for end users.

[2022-05-19 07:45] ChrisBlankDe opened #110 "pdf link on default language pages"
thanks for the great i18n plugin and thanks that you support other useful plugins. 👍
With mkdocs-with-pdf there is currently the problem that the pdf for the default language is not provided cleanly.

rendered site:
de/pdf/document.pdf
en/pdf/document.pdf
pdf/document.pdf <-- missing

as a workaround we do a copy job but i think this should be handled by i18n plugin

[2022-05-19 20:04] adamkusmirek commented on #110
How would the desired output look like?

For example, assuming that the default language is `en`:

Option 1:

de/pdf/document.pdf
pdf/document.pdf <- this contains `en` content

Option 2:

de/pdf/document.pdf
en/pdf/document.pdf
pdf/document.pdf <- this contains `en` content again

In case it is option 2, `default/pdf/document.pd` should probably be symlinked/aliased somehow to avoid having duplic

[2022-05-20 08:14] ChrisBlankDe commented on #110
i think option 2 would be solve this since the pdf should be accessable from the default dir and the specific language folder.
since our pdfs are getting bigger and bigger a symlinked/aliased would be great.

Another valid solution would be just to change the pdf link in the footer of the default language to the specific language folder
e.g. from `https://mydomain.com/pdf/document.pdf` to `https:/

[2022-05-23 08:11] ultrabug commented on #109
Hello @ChrisBlankDe

Ofc it is possible, I've opened a PR #111 to address this.

If that's possible for you, please test it, else I'll just merge since I added and checked this works with tests ;)

[2022-05-23 08:20] ultrabug commented on #110
Hello @ChrisBlankDe

I was surprised to read your issue so I tested it again and I can't reproduce your problem since I do have all the pdfs (even the default one) on my output :

[code]

This is confirmed by the build logs :

[code]

I'm using `mkdocs-with-pdf version 0.9.3`

[2022-05-23 09:11] Maddin-619 commented on #110
I have the same problem:
[code]

Since the pdf plugin output path gets mutated for each language it effects the "original/default" build steps. The "original" pdf generation step should use the "original" output path (without the language directory), but because it gets executed at last, it uses the last mutated pdf output path for a specific language. As a result the pdf for these language gets o

[2022-05-23 09:37] ultrabug commented on #110
Can I have access to a repository where I can reproduce this @Maddin-619 ?

Along with a complete `mkdocs.yml` config file?

[2022-05-23 11:05] Maddin-619 commented on #110
https://github.com/Maddin-619/docu

[2022-05-23 13:54] Maddin-619 commented on #110
@ultrabug i have found out the cause of the problem:
The order of the plugins in the `mkdocs.yml` plugins array makes the different. i18n plugin must be the last one!

[2022-05-23 15:45] ultrabug commented on #110
Thanks for looking into it @Maddin-619 ;

To be precise, should it be the **last** one or simply **after the with-pdf one**?

I'd bet on "being after" is enough

[2022-05-23 16:16] Maddin-619 commented on #110
Yes u are right.

What should we do now? Would nice if we have an order independent solution. Or we just add the fact to the readme.

Also the default language is unnecessarily rendered twice. For big docu this could be a waste of resources.

[2022-05-23 17:03] ultrabug commented on #110
I can have i18n detect its order and change it on the fly

I'd like to keep magic to its minimum; i18n can't start overcoming every other plugins implementations. Doing the best we can without interfering too much with other plugins is the safe way forward.

[2022-05-25 08:14] #109 closed

[2022-05-25 08:18] ultrabug commented on #110
This proved to me more tricky than expected since with-pdf messes with other plugins events...

Please check and review #112 which should fix the problem, no matter the with-pdf position :+1:

Thanks

[2022-05-25 14:44] EvilMask opened #113 "Multi-level nav translation problem"
Hello @sukki37 ,

I meet a problem similar to #96 . My nav setting is like:
![image](https://user-images.githubusercontent.com/3178725/170286875-5b6365af-074a-4f69-bb2f-7bd421a32575.png)
I have translations for `Home`, `Reference`, `Changelog`, but only `Home` and `Changelog` have been translated for the default language (ja).
![image](https://user-images.githubusercontent.com/3178725/170287774-6a

[2022-06-01 13:23] sirchampsblanc opened #115 "Language selector not showing."
Since version 0.30, my second language's index doesn't have a button for selecting language. I've downgraded to 0.22 and it works flawlessly. Is there something that was changed and i need to add to my config?

Thanks.

[2022-06-01 18:36] ultrabug commented on #110
@Maddin-619 @ChrisBlankDe friendly ping; I intend to merge this this week.

[2022-06-02 07:22] champsblanc commented on #115
I've tried every single version (0.30, 0.31, 0.40, 0.41, 0.44 and 0.45) with the same results. Sadly it's a private work repo so i can not share it here. I'll try to reproduce the problem on a new one, it's just the translated HTMLs missing the button on the bar, i don't know why.

[2022-06-02 07:22] #110 closed

[2022-06-02 07:23] ultrabug commented on #115
Sure, whenever I can reproduce, I'll make sure there's a test + a fix mate!

[2022-06-02 07:30] ultrabug commented on #113
Hello @EvilMask ; thanks for reporting this

I'm gonna investigate

[2022-06-02 09:22] champsblanc commented on #115
[mkdocs-static-i18n-bug.zip](https://github.com/ultrabug/mkdocs-static-i18n/files/8822445/mkdocs-static-i18n-bug.zip)

I managed to reproduce it with a small example:

Created a venv, installed requirements_doc.txt, ran mkdocs serve.

[2022-06-02 14:46] ultrabug commented on #115
Ok @champsblanc it's actually written in the build logs:

[code]

If you remove `navigation.instant`, it works as expected.

Instant navigation uses JS which is not respectful of the localized page links and breaks localization language switcher I'm afraid.

[2022-06-02 14:47] champsblanc commented on #115
Oh fuck, i'm blind. Thank you so much!

[2022-06-20 16:12] ultrabug commented on #113
@EvilMask it's actually quite hard to reproduce... Do you have any public repository where I can test this?

[2022-06-20 16:55] ultrabug commented on #113
Ok @EvilMask scratch that, I found out what the problem was !

Can you check #119 maybe? I added tests to reproduce so if no report in a week, I'll merge & release that fix

Thanks again!

[2022-06-22 07:27] #113 closed

[2022-07-16 08:44] Mara-Li opened #123 "keyrError: 'plugins' with material mkdocs"
Hello!
I try to get work with the plugins, but I always get `keyError: plugins` when I run `mkdocs serve`

My config :
[code]
Removing `i18n` work as expected, so I don't understand :-(

My docs structure is like the same in the docs...

My plugins used :
[code]

[2022-07-16 10:59] ultrabug commented on #123
Bonjour @Mara-Li

Do you have a public repo I can try this on to reproduce the problem please?

[2022-07-16 12:40] Mara-Li commented on #123
Yeap!
You can use this : https://github.com/obsidianMkdocs/obsidian_mkdocs_publisher_docs

The bug occure when running the `deepcopy`. If I edit the plugin and remove the deepcopy, everything works fine!

[2022-07-18 06:30] ultrabug commented on #123
@Mara-Li just to be sure, you're using latest version of the i18n plugin right?

Because if I remove all you other plugins (quite a few of them can't be installed via pip), I don't reproduce your problem :/

[2022-07-18 21:32] Mara-Li commented on #123
Yup, i use the last update. I tryed everything without the plugin, and checked it was caused by `deepcopy` here : https://github.com/ultrabug/mkdocs-static-i18n/blob/09155f6c42dfc4e12b4375b62726baccc7cd162b/mkdocs_static_i18n/plugin.py#L225
I removed the deepcopy and i get the build without error ...

[2022-07-20 16:08] sennewood opened #124 "Error: Invalid Plugins configuration"
I got this error after executing `mkdocs serve`:

[code]

I'm new to MkDocs and this plugin. I just installed the packages via pip, renamed the files to `*.de.md` and wrote this config:

[code]

Python: 3.10.5

Pip-Packages:
[code]

Any idea what's wrong?

[2022-07-20 16:23] ultrabug commented on #124
Hello @sennewood and welcome to the MkDocs+i18n world :hugs:

I guess you're missing an indentation level below the i18n key:

It should be:

[code]

[2022-07-20 17:54] sennewood commented on #124
-.-

Thank you :)

[2022-07-20 17:54] #124 closed

[2022-07-20 18:30] ultrabug commented on #124
Sure, remember to show your :heart:  to projects with a simple :star: , it means a lot to us!

[2022-07-26 14:38] ultrabug commented on #123
@Mara-Li then some other plugin must be messing with the config somehow. The i18n plugin can't cope with what all the other available plugins out there do.

But it does need to get its own config deepcopy for each language AFAIK.

[2022-07-26 14:38] ultrabug commented on #123
So unless you can isolate which plugin in your long list of plugins is messing up with i18n there's little I can do I guess.

[2022-07-26 16:05] Mara-Li commented on #123
I will redo my test to check if any plugins interefer with i18n

[2022-07-27 08:40] Mara-Li commented on #123
Okay, I can't repro the error now. Maybe upgrading my plugins was the key. Thank for your work!

[2022-07-27 08:40] #123 closed

[2022-07-27 09:52] ultrabug commented on #123
:+1:

[2022-08-16 09:53] mastercoms opened #129 "Search duplicates"
https://docs.mastercomfig.com/dev/

Search for `textures`

It will come up with every language's translation page in the search results, search_reconfigure or not.

https://github.com/mastercomfig/mastercomfig/blob/develop/mkdocs.yml#L5

[2022-08-16 09:55] mastercoms opened #130 "Page title is reset"
I assume this is done to have the same path as the default language, but it makes localization of the page title not possible

Note how in the diff here where I have re-enabled the i18n plugin, social cards are going back to their english titles. https://github.com/mastercomfig/mastercomfig/commit/dea4f1a14ec354001e1cbdfbfe9e86550f1d0418#diff-933fd042fcab2e74c5ad1267ed83b09c2771c6ec31d5c5fd39901d8

[2022-08-16 20:48] ultrabug commented on #130
Hello @mastercoms I'm sorry but I don't have access to mkdocs-material insiders version so I can't tell about your problem.

From what I see here after cloning your repo, if I navigate to the Benchmarks page in English, switch to Russian (which has a translation for this page) I see the page title translated to `Тест` as expected.

[2022-08-16 20:59] mastercoms commented on #130
For me the page title in the browser tab and navigation is in english, it's just the markdown title that has the russian

[2022-08-17 06:54] ultrabug commented on #130
Wait, you are not [translating your navigation are you?](https://github.com/ultrabug/mkdocs-static-i18n#translating-navigation)

[2022-08-17 09:25] mastercoms commented on #130
Ah, I see, no I didn't do that. I don't know how I missed that in the documentation. This fixes the problem. Thank you!

[2022-08-17 09:25] #130 closed

[2022-08-17 10:34] ultrabug commented on #129
Explanation is written in the README docs here mate: https://github.com/ultrabug/mkdocs-static-i18n#compatibility-with-the-search-plugin

[2022-08-17 12:28] mastercoms commented on #129
Yes I have read that, but I tried to use `search_reconfigure: false` and `search_reconfigure: true`, both have duplicates, even though it said the feature can be disabled. And also, "will try to be smart and deduplicate the pages", but it doesn't seem like this is the case.

[2022-08-17 12:38] ultrabug commented on #129
It's being "smart" between the default_language and the same language if defined twice. Apart from that there's little it can do against a single index enforced by the upstream search plugin I'm afraid.

[2022-08-17 12:59] mastercoms commented on #129
But for example, there is no translation for the modules.md page for anything but Russian. But it displays the English version of the page for each language. Is there really no way to exclude pages which are copied from the default language?

[2022-08-17 13:45] ultrabug commented on #129
I'll have to check what we could do, that's a good point to be smarter ;)

[2022-08-31 09:22] dariocurr opened #133 "Support language specific folders"
It would be nice to support language specific folder, i.e if I name a folder `folder.en`, that folder should be considered just if the language is set to `en`.

That, IMHO, would help keep the folder structure more settled (Imagine 10 files in a folder for 3 languages, that's 30 files)

[2022-08-31 09:23] #133 closed

[2022-08-31 09:23] dariocurr commented on #133
Sorry I didn't know that was already possible

[2022-09-01 11:04] yeemh opened #135 "Support jupyter notebook(ipynb) files"
thanks for the great i18n plugin 👍

I'm trying to use mkdocs-jupyter plugin for rendering ipynb files, and figured out ipynb files don't show if I use with this plugin.
Is there any way to use both plugins?

[code]
made possible to show ipynb in default page, but not in other languages

[2022-09-05 02:57] yeemh commented on #135
Searched for why and found `file.is_documentation_page()` may make ipynb as static files.
Mkdocs defines
[files.py](https://github.com/mkdocs/mkdocs/blob/88df80e1f4a617a621365d681e3859b522172822/mkdocs/structure/files.py#L249)
[code]
[utils/\_\_init\_\_.py](https://github.com/mkdocs/mkdocs/blob/88df80e1f4a617a621365d681e3859b522172822/mkdocs/utils/__init__.py#L35),
[utils/\_\_init\_\_.py is_markdo

[2022-09-08 21:00] ultrabug commented on #62
To my current knowledge, this plugin can't do anything about it since the code logic of `navigation.instant` is in mkdocs-material

[2022-09-08 21:02] ultrabug commented on #62
Yes, the sitemap now adds page alternates; which to my knowledge are not taken into account by `navigation.instant`

[2022-09-09 00:35] mastercoms commented on #129
It's alright, I understand as an open source maintainer myself :) No need to worry

[2022-09-15 14:18] ultrabug commented on #129
Hi @mastercoms I believed I have found some great optimizations on the search plugin deduplication

Could you please test with https://github.com/ultrabug/mkdocs-static-i18n/pull/139 and report back?

Thanks!

[2022-09-15 18:38] mastercoms commented on #129
Yes, it works, thank you so much!

[2022-09-16 07:13] #129 closed

[2022-10-04 19:29] vabene1111 opened #145 "TypeError: 'NoneType' object is not iterable"
Hi, thanks for this awesome project. I probably just have some configuration wrong but i am getting an error in the nav translation generation

[code]

this is my mkdocs.yml
[code]

and this is the folder structure I am trying

![image](https://user-images.githubusercontent.com/6819595/193908645-4510b8b6-e732-46fa-8705-b849f7427ebb.png)

basically trying to install your plugin into https://github.

[2022-10-06 11:36] koshelekapi opened #146 "Having issue with OpenAPI localization"
Hello!

I don't know is that really an issue, but I've faced such an effect.

I have a documentation portal in two languages. Source files are located into related folders (`docs/en/...` and `docs/ru/...`).
We enabled the i18n plugin, and in general, it works fine. But: we also have API documentation in YAML format. It is presented in two languages located in related folders, too.
And when we open

[2022-10-07 15:59] koshelekapi commented on #146
Well, after some investigation I found out that the problem cause may be while documentation builds.
1. For default version (ru), we have such a folder structure:
[code]
And it is rendered OK.
2. For the alternate version (en), we have such a folder structure:
[code]
How can I force the correct build for the alternate version?

[2022-10-09 18:29] ultrabug commented on #145
Hello @vabene1111 , sorry for the delay, let me have a look

[2022-10-09 18:33] ultrabug commented on #145
Do you have a branch I can test that from?

[2022-10-09 19:17] ultrabug commented on #145
@vabene1111 I found and fixed the problem I believe. Could you try with #147 maybe and report there?

[2022-10-09 19:19] ultrabug commented on #146
Hi @koshelekapi sorry for the late reply, I'll be looking at it next week for sure!

[2022-10-10 05:54] vabene1111 commented on #145
thank you very much for the quick fix! I will need to find out how to build/use a plugin from source but shouln't be a problem, will try to verify the fix as soon as possible. thanks!

[2022-10-11 18:46] vabene1111 commented on #145
ok thanks, the fix works the way its supposed to, thank you very much!

One quick question unrelated (or somewhat) to this issue: can I have "incomplete" translations. Meaning I create a folder `en` that has the default language with all the files and then a folder `de` where just some files are translated and others aren't ?

[2022-10-14 14:10] ultrabug commented on #145
@vabene1111 thanks for testing this, I'm gonna merge the PR and close this issue

If you want a file to be present in all languages but maintain a single copy of it, using the `folder` structure, it should be placed at the root of your `docs/` folder to be treated like a non-localized content.

There's an example of that in the project :
[code]

Else, since the folder structure maintains a strict

[2022-10-14 14:11] #145 closed

[2022-10-14 16:28] ultrabug commented on #135
Hello @yeemh sorry for the late reply.

Do you have a public repo where this can be tested? I need a reproductible environment to be helpful I'm afraid.

It's hard for a plugin to be compatible with whatever the others plugins are doing as you can understand :(

[2022-10-14 16:35] ultrabug commented on #146
@koshelekapi now that I read your problem, I'd like to ask you to test with the latest version `0.48` which has a fix for when folder + static nav is used, see #145

Thanks

[2022-10-14 16:35] ultrabug commented on #145
version 0.48 is out

[2022-10-15 05:58] NetheriteTree opened #150 "KeyError: 'fixed_link'"
[code]
This only occurs with the 0.48 version.

This is my mkdocs.yml
[code]

[2022-10-15 07:45] ultrabug commented on #150
@dariocurr

Guess I trusted the tests too much :(

Sorry about that @NetheriteTree , will investigate ASAP

[2022-10-15 07:50] #150 closed

[2022-10-15 07:51] ultrabug commented on #150
hotfix version 0.49 is out! sorry for the noise.

[2022-10-15 16:19] dariocurr commented on #150
It's curious that the text don't cover that case.
I'll give it a look to avoid that!

[2022-10-16 17:11] ultrabug commented on #150
It's because the tests do only simulate `on_config` but are not running `on_context`

[2022-10-16 18:33] ultrabug commented on #150
Added https://github.com/ultrabug/mkdocs-static-i18n/commit/a48edef520334fd266030235705d65eeac612fd3

Thanks

[2022-10-17 12:47] koshelekapi commented on #146
Two screenshots below illustrate folder structure after documentation build for Russian (default) and English variant. Please specify do you need my full **mkdocs.yml** file. There, you can find the difference of the .yaml file location.
<img width="206" alt="Screenshot 2022-10-17 154446" src="https://user-images.githubusercontent.com/93216510/196180672-b8059399-8baa-4322-b43f-e4ee49cbb525.png">
<

[2022-10-27 14:56] xplosionmind opened #152 "Build fails: “TypeError: 'NoneType' object is not iterable”"
I am getting the following log when building https://github.com/scambifestival/manuale (`i18n` branch)

[code]

[2022-10-27 16:46] ultrabug commented on #152
@xplosionmind Hi,

There is no `it` folder in your folder structure and it should since it's your configured default language.

The `folder` structure is meant to have a convergent tree of files per folder.

[2022-10-27 17:34] xplosionmind commented on #152
I cannot have a folder just for the English content and everything else is in Italian?

[2022-10-27 18:50] ultrabug commented on #152
This is not how it's supposed to work, no @xplosionmind

The "everything else" is meant for stuff that is not "translated/translatable".

[2022-10-28 10:31] xplosionmind commented on #152
Thank you for clarifying that, @ultrabug.

One last question: is it possible to remove the `/lang/` slug in URLs for the default language?

[2022-10-28 10:41] ultrabug commented on #152
Yes, just don't list it in the `languages` config list, just as `default_language`

[2022-10-28 11:24] xplosionmind commented on #152
I fear this works only with the `suffix` mode… The `it` folder is parsed as a subject if I do not list it in `mkdocs.yml`…

[2022-11-02 07:59] ultrabug commented on #152
Thanks for pointing this out @xplosionmind ; I will look into this as soon as I can.

[2022-11-07 13:55] designel opened #155 "plugin issue"
Hello,

I have a problem using the plugin in the documentation, I don't know if someone already faced the same issue as me :
when trying to serve my doc I have the following error:
Traceback (most recent call last):
  File "c:\users\Login\appdata\local\programs\python\python39\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "c:\users\Login\appd

[2022-11-09 09:15] ultrabug commented on #135
Please reopen if you want to help in reproduction.

[2022-11-09 09:15] #135 closed

[2022-11-09 09:17] ultrabug commented on #146
I'm sorry for the late reply @koshelekapi. As I already said, it's impossible to be sure without a reproducible environment for me.

I'd like to encourage you to switch to the suffix based folder structure, it is easier and more mature than the folder one.

[2022-11-09 09:20] #152 closed

[2022-11-10 14:55] designel commented on #155
hello @ultrabug,

thank you so much for your answer,
I had an error in the nav section I used in the previous configuration:
nav:
  - 'Home': 'path'
  - 'Topic1' : 'path'
 ...

[2022-11-15 08:32] ultrabug commented on #155
np mate, closing

[2022-11-15 08:32] #155 closed

[2022-11-18 14:45] try0 opened #160 "Adding hooks to mkdocs.yml causes the build to fail."
https://www.mkdocs.org/user-guide/configuration/#hooks

mkdocs.yml
[code]

version: 0.50

https://github.com/ultrabug/mkdocs-static-i18n/blob/main/mkdocs_static_i18n/plugin.py#L226

[code]

[2022-11-21 12:50] ultrabug commented on #160
Thanks for reporting this @try0 ; it's true that I have not tested this plugin with the latest mkdocs features so there might be quirks :(

[2022-11-23 15:32] tirithen opened #161 "English pages shows in the Swedish menu"
I'm working on a mkdocs site using this plugin. It solves a lot around localization, but when there is a file called `my-page.en.md` but NO `my-page.sv.md` the Swedish menu will list the English page (as a fallback?).

I would like it to only include the pages that has translations, and skip the other pages.

How can I configure i18n to do this?